  <div class="text-center py-3">
    <img src="{{joueur['urlPhoto']}}" alt=""
         style="width: 20%;" />
  </div>

  <div>
    <p class="lead card-header text-center py-3 mt-3"
       style="border: 1px solid #ced4da;background-color: #e3f2fd; border-radius:7px;">

      <b>Email : </b> {{joueur['email']}} <br>
      <b>Nom : </b> {{joueur['nom']}} <br>
      <b>Prenom : </b> {{joueur['prenom']}}<br>
      <b>Competences joueur : </b><i *ngFor="let competence of joueur['competences']"> <img src="{{competence['adresseIcone']}}" alt="{{competence['libelle']}}" style="width: 5%;" /></i><br>
      <b>Contacter : </b> <a routerLink="../../messagePrive/{{joueur['email']}}">Par ici !</a><br>  
      <button routerLink="../../modifierJoueur/{{joueur['email']}}" class="btn btn-info mt-3">Modifier</button>
      <button routerLink="../../listerJoueurs" class="btn btn-danger mt-3">Retour</button>
    </p>
  </div>
