<div class="ma-guilde">
    <!-- titre page -->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-titre">MA GUILDE</div>
        <div class="divider-custom-line"></div>
    </div>
    <a routerLink="/creerGuilde">
        <button class="btn btn-success">Créer guilde</button>
    </a>
    <a routerLink="/listeGuildes">
        <button class="btn btn-success">Lister guildes</button>
    </a>
    <a routerLink="/rechercheGuilde">
        <button class="btn btn-success">Rechercher guilde</button>
    </a>

</div>