<div class="usines">
	<div class="divider-custom divider-light">
		<div class="divider-custom-line"></div>
		<div class="divider-custom-titre">Centre de récolte<br>
        (EN COURS DE TRAVAIL [pas fonctionnel])</div>
		<div class="divider-custom-line"></div>
	</div>
    <div>
        <div class="grid-container">
            <div class="pierre card">
                <div class="action-recolte">Miner</div>
            </div>
            <div class="bois card">
                <div class="action-recolte">Couper</div>
            </div>
            <div class="or card">
                <div class="action-recolte">Extraire</div>
            </div>
            <div class="nourriture card">
                <div class="action-recolte">Cueillir</div>
            </div>
            <div class="production card">
                <button class="btn btn-success">Récupérer</button>
            </div>
        </div>
    </div>
</div>