<ng-container *ngIf="joueurConnecte | async as jou">

    <header>



        <div class="menu" *ngIf="infosJoueur && informationRessourcesJoueur">
            <ul class="modify" id="etape1">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="logo">
                            <img src="https://media.discordapp.net/attachments/649978115199860766/793975291994964028/72399-icons-crown-prodigy-game-computer-math-icon.png"
                                alt="" style="width: 40px;height: 40px;" />
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <li id="etape2" class="pierre">
                            <a class="btn"
                                ngbTooltip="Production par heure : {{informationRessourcesJoueur.apportPierreSeconde * 3600}}">
                                <fa-icon [icon]="iconeStopWatch"></fa-icon> Pierre : <b
                                    [ngStyle]="{color:getColorApprocheLimitePierre()}">{{informationRessourcesJoueur.pierrePossession}}/{{informationRessourcesJoueur.quantiteMaximaleStockagePierre}}</b>
                            </a>
                        </li>
                    </div>
                    <div class="col-sm-2">
                        <li id="etape3" class="bois">
                            <a class="btn"
                                ngbTooltip="Production par heure : {{informationRessourcesJoueur.apportBoisSeconde * 3600}}">
                                <fa-icon [icon]="iconeStopWatch"></fa-icon> Bois : <b
                                    [ngStyle]="{color:getColorApprocheLimiteBois()}">{{informationRessourcesJoueur.boisPossession}}/{{informationRessourcesJoueur.quantiteMaximaleStockageBois}}</b>
                            </a>
                        </li>
                    </div>
                    <div class="col-sm-2">
                        <li id="etape4" class="or">
                            <a class="btn"
                                ngbTooltip="Production par heure : {{informationRessourcesJoueur.apportOrSeconde * 3600}}">
                                <fa-icon [icon]="iconeStopWatch"></fa-icon> Or : <b
                                    [ngStyle]="{color:getColorApprocheLimiteOr()}">{{informationRessourcesJoueur.orPossession}}/{{informationRessourcesJoueur.quantiteMaximaleStockageOr}}</b>
                            </a>
                        </li>
                    </div>
                    <div class="col-sm-2">
                        <li id="etape5" class="nourriture"
                        ngbTooltip="Production par heure : {{informationRessourcesJoueur.apportNourritureSeconde * 3600}}">
                        <a class="btn">
                            <fa-icon [icon]="iconeStopWatch"></fa-icon> Nourriture : <b
                                [ngStyle]="{color:getColorApprocheLimiteNourriture()}">{{informationRessourcesJoueur.nourriturePossession}}/{{informationRessourcesJoueur.quantiteMaximaleStockageNourriture}}</b>
                        </a>
                    </li>
                    </div>
                    <div class="col-sm-2">
                        <li id="etape6" class="gemme">
                            <a class="btn" ngbTooltip="Gain de gemmes en réalisant des expéditions">
                                <fa-icon [icon]="iconeStopWatch"></fa-icon> Gemmes :
                                <b>{{informationRessourcesJoueur.gemmePossession}}</b>
                            </a>
                        </li>
                    </div>
                    <div class="col-sm-1"></div>
                </div>





            </ul>
        </div>
    </header>

    <body>
        <div class="area"></div>
        <nav class="main-menu">
            <ul id="etape7">
                <li>
                    <a routerLink="accueil">
                        <i class="fa fa-gamepad" aria-hidden="true"></i>
                        <span class="nav-text">
                            Accueil
                        </span>
                    </a>
                </li>
                <li id="etape8">
                    <a routerLink="campement">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Mon campement
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="defense">
                        <i class="fa fa-shield" aria-hidden="true"></i>
                        <span class="nav-text">
                            Mes défenses
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="armee">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="nav-text">
                            Mon armée
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="expedition">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span class="nav-text">
                            Expéditions Disponnibles
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="mesExpeditions">
                        <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                        <span class="nav-text">
                            Mes expéditions
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="maGuilde">
                        <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Guilde
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="classement-joueurs">
                        <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Classement Joueur
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="menuAdministration" *ngIf="jou.roles[0] == roleEnum.RoleAdmin">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            Administration
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="discussion">
                        <i class="fa fa-comment fa-2x"></i>
                        <span class="nav-text">
                            Discussion
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="boutique">
                        <i class="fa fa-money fa-2x"></i>
                        <span class="nav-text">
                            Boutique
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="logout" *ngIf="infosJoueur">
                <li>
                    <a (click)="lancementTutoriel()">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <span class="nav-text">
                            Tutoriel
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="listeAmis">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        <span class="nav-text">
                            Liste d'amis
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="detailJoueur/{{infosJoueur.id}}">
                        <i class="fa fa-male fa-2x"></i>
                        <span class="nav-text">
                            Mon compte
                        </span>
                    </a>
                </li>
                <li>
                    <a (click)="seDeconnecter()">
                        <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Déconnexion
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </body>
</ng-container>