<nav class="navbar navbar-expand-lg navbar-light mb-4" style="background-color: #e3f2fd;">
    <ng-container *ngIf="joueurConnecte | async as col">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img src="https://media.discordapp.net/attachments/649978115199860766/793975291994964028/72399-icons-crown-prodigy-game-computer-math-icon.png"
            alt="" style="width: 40px;height: 40px;" />
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <a class="navbar-brand ml-2" routerLink="/accueil">Accueil</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" routerLink="campement">Mon campement</a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" routerLink="armee">Mon armée</a>
                </li>

                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" routerLink="guilde">Guilde</a>
                </li>

                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" routerLink="classement-joueurs">Classement</a>
                </li>

                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" routerLink="message">Discussion</a>
                </li>

                <li routerLinkActive="active" class="nav-item"
                    *ngIf="col.roles[0] == roleEnum.RoleManager || col.roles[0] == roleEnum.RoleAdmin || col.roles[0] == roleEnum.RoleEmploye">
                    <a class="nav-link" routerLink="listerJourFerme">Administration</a>
                </li>
            </ul>
            <div class="row">
                <div class="mx-2 p-1 col-4 col-lg-auto" style="border: 1px solid #ced4da;background-color: #e9ecef; border-radius: 5px; ">
                    <fa-icon [icon]="iconeStopWatch"></fa-icon> Pierre :  <b>{{infosJoueur.pierrePossession}}/{{infosJoueur.pierreMaximum}}</b>
                </div>
                <div class="mx-2 p-1 col-4 col-lg-auto" style="border: 1px solid #ced4da;background-color: #e9ecef; border-radius: 5px; ">
                    <fa-icon [icon]="iconeArbre"></fa-icon> Bois :  <b>{{infosJoueur.boisPossession}}/{{infosJoueur.boisMaximum}}</b>
                </div>
                <div class="mx-2 p-1 col-4 col-lg-auto" style="border: 1px solid #ced4da;background-color: #e9ecef; border-radius: 5px; ">
                    <fa-icon [icon]="iconeStopWatch"></fa-icon> Or :  <b>{{infosJoueur.orPossession}}/{{infosJoueur.orMaximum}}</b>
                </div>
                <div class="mx-2 p-1 col-4 col-lg-auto" style="border: 1px solid #ced4da;background-color: #e9ecef; border-radius: 5px; ">
                    <fa-icon [icon]="iconeStopWatch"></fa-icon> Nourriture :  <b>{{infosJoueur.nourriturePossession}}/{{infosJoueur.nourritureMaximum}}</b>
                </div>
                <!--
                <div class="mx-2 p-1 col-4 col-lg-auto" style="border: 1px solid #ced4da;background-color: #e9ecef; border-radius: 5px; ">
                    <fa-icon [icon]="faUser"></fa-icon> Bonjour <b>{{infosJoueur.pseudo}}</b>
                </div>
            -->

                <div class="col-2">
                    <button class="btn btn-outline-danger" (click)="seDeconnecter()">Deconnexion</button>
                </div>
            </div>

        </div>
    </ng-container>
</nav>
