<ng-container *ngIf="!joueur.estAnonyme()">
	<div class="footer text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<a class="btn btn-social-icon" href="https://www.linkedin.com/in/vincent-girard-4a7b36109/">
						<b>
							<h5>
								<i class="fa fa-linkedin-square" aria-hidden="true"></i> Retrouvez-moi sur LinkedIn ☻
							</h5>
						</b>
					</a>
				</div>
				<div class="col-lg-6" ngbTooltip="GIRVINCENT@GMAIL.COM">
					<a class="btn btn-social-icon" href="mailto:girvincent@gmail.com" >
						<b>
							<h5>
								<i class="fa fa-envelope" aria-hidden="true"></i> Envoyez-moi un petit email !
							</h5>
						</b>
					</a>
				</div>
			</div>
		</div>
	</div>
</ng-container>