.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
    background-color: rgb(227 242 253 / 65%);
    //opacity: 65%;
}
.lien {
    margin-top: 1%;
}

// 200px -> 1300px
@media screen and (min-width: 200px) and (max-width: 1300px) {
    .texte {
        display: none;
    }
}
