<ng-container *ngIf="!joueur.estAnonyme()">
	<div class="footer text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 lien">
					<a class="btn btn-social-icon" href="https://www.linkedin.com/in/vincent-girard-4a7b36109/">
						<b>
							<h5>
								<i class="fa fa-linkedin-square" aria-hidden="true"></i> Retrouvez-moi sur LinkedIn ☻
							</h5>
						</b>
					</a>
				</div>

				<div class="col-lg-4 lien" ngbTooltip="GIRVINCENT@GMAIL.COM">
					<a class="btn btn-social-icon" href="mailto:girvincent@gmail.com">
						<b>
							<h5>
								<i class="fa fa-envelope" aria-hidden="true"></i> Envoyez-moi un petit email !
							</h5>
						</b>
					</a>
				</div>

				<div class="col-lg-4 lien">
					<form action="https://www.paypal.com/donate" method="post" target="_top">
						<input type="hidden" name="hosted_button_id" value="CMUXMY97NT4H6" />
						<input type="image" src="https://media.discordapp.net/attachments/794876433842831361/812741886200643594/paypal.png"
							border="0" name="submit" title="PayPal - The safer, easier way to pay online!"
							alt="Donate with PayPal button"  style="width: 130px;" />
						<img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1"
							height="1" />
					</form>
				</div>
			</div>
		</div>
	</div>
</ng-container>