<ng-container *ngIf="!joueur.estAnonyme()">
	<div class="footer text-center">
		<div class="container">
			<div class="row">
				<!-- LIEN LINKEDIN -->
				<div class="col-4 lien">
					<a class="btn btn-social-icon" href="https://www.linkedin.com/in/vincent-girard-4a7b36109/">
						<b>
							<h5>
								<i class="fa fa-linkedin-square" aria-hidden="true"></i> <span class="texte">
									Retrouvez-moi sur LinkedIn <i class="fa fa-smile-wink"></i></span>
							</h5>
						</b>
					</a>
				</div>

				<!-- LIEN EMAIL -->
				<div class="col-4 lien" ngbTooltip="GIRVINCENT@GMAIL.COM">
					<a class="btn btn-social-icon" href="mailto:girvincent@gmail.com">
						<b>
							<h5>
								<i class="fa fa-envelope" aria-hidden="true"></i> <span class="texte"> Envoyez-moi un
									petit email !</span>
							</h5>
						</b>
					</a>
				</div>

				<!-- LIEN PAYPAL-->
				<div class="col-4 lien">
					<form ngNoForm action="https://www.paypal.com/donate" method="post" target="_top">
						<input type="hidden" name="hosted_button_id" value="CMUXMY97NT4H6" />
						<input type="image"
							src="https://media.discordapp.net/attachments/794876433842831361/813542554036338789/paypal.png"
							border="0" name="submit" alt="Donation avec le bouton PayPal" style="width: 130px;"
							ngbTooltip="Oh, vraiment ?" />
						<img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1"
							height="1" />
					</form>
				</div>
			</div>
		</div>
	</div>
</ng-container>