<div class="row justify-content-center">
  <div class="col-auto mb-2" style="border: 1px solid #ced4da;background-color: #e3f2fd; border-radius:7px; ">
    <h2>{{batiment['libelle']}}</h2>
    <div *ngIf="modeConstructionAmelioration=='amelioration'" class="text-center">
      <h4>Niveau <b>{{batimentJoueurPossede['niveau']}}</b></h4>
    </div>
  </div>
</div>

<div *ngIf="modeConstructionAmelioration=='construction'">
  <div class="text-center py-3">
    <img src="{{batiment['icone']}}" alt="" style="width: 20%;" />
  </div>
  <p class="lead card-header text-center py-3 mt-3"
    style="border: 1px solid #ced4da;background-color: #e3f2fd; border-radius:7px;">
    <b>Descriptif : </b> {{batiment['descriptif']}}<br>
    <b>Ouvrier necessaire pour la construction : </b> {{batiment['ouvrierNecessaireConstruction']}}<br>
    <b>Temps de construction : </b> {{batiment['tempsDeConstruction']}} secondes<br>
    <b>Coût <b>Pierre</b> construction : </b> {{batiment['coutPierreConstruction']}}<br>
    <b>Coût <b>Bois</b> construction : </b> {{batiment['coutBoisConstruction']}}<br>
    <b>Coût <b>Or</b> construction : </b> {{batiment['coutOrConstruction']}}<br>
    <b>Coût <b>Nourriture</b> construction : </b> {{batiment['coutNourritureConstruction']}}<br>
    <b>Niveau HDV Necessaire pour la Construction : </b> {{batiment['niveauHotelDeVilleNecessaireConstruction']}}<br>
    <button class="btn btn-success mt-3 mr-2" (click)="construire()">Construire</button>
    <button routerLink="../../../campement" class="btn btn-danger mt-3">Retour</button>
  </p>
  <div class="alert alert-danger divCenter mt-3" style="text-align: center;" role="danger" *ngIf="messageErreur">
    <b>{{messageErreur}}</b>
  </div>
  <div class="alert alert-success divCenter mt-3" role="success" *ngIf="messageValidation">
    <b>{{messageValidation}}</b>
  </div>
</div>

<div *ngIf="modeConstructionAmelioration=='amelioration'">


  <div class="text-center py-3">
    <img src="{{batiment['icone']}}" alt="" style="width: 20%;" />
  </div>
  <p class="lead card-header text-center py-3 mt-3"
    style="border: 1px solid #ced4da;background-color: #e3f2fd; border-radius:7px;">
    <b>Descriptif : </b> {{batiment['descriptif']}}<br>
    <b>Ouvrier necessaire amélioration : </b> {{batimentJoueurPossede['ouvrierNecessaireAmelioration']}}<br>
    <b>Temps d'amélioration : </b> {{batimentJoueurPossede['tempsAmelioration']}} secondes<br>
    <b>Coût <b>Pierre</b> amélioration : </b> {{batimentJoueurPossede['coutPierreAmelioration']}}<br>
    <b>Coût <b>Bois</b> amélioration : </b> {{batimentJoueurPossede['coutBoisAmelioration']}}<br>
    <b>Coût <b>Or</b> amélioration : </b> {{batimentJoueurPossede['coutOreAmelioration']}}<br>
    <b>Coût <b>Nourriture</b> amélioration : </b> {{batimentJoueurPossede['coutNourritureAmelioration']}}<br>
    <ng-template [ngIf]="(idTypeBatiment==1)||(idTypeBatiment==3)">
      <b>Apport <b>Pierre</b> actuel : </b> {{batimentJoueurPossede['apportPierreHeure']}}<br>
      <b>Apport <b>Pierre</b> niveau suivant : </b> {{batimentJoueurPossede['apportPierreHeure']}}<br>
    </ng-template>
    <ng-template [ngIf]="(idTypeBatiment==1)||(idTypeBatiment==4)">
      <b>Apport <b>Bois</b> niveau suivant : </b> {{batimentJoueurPossede['apportBoisHeure']}}<br>
    </ng-template>
    <ng-template [ngIf]="(idTypeBatiment==1)||(idTypeBatiment==5)">
      <b>Apport <b>Or</b> niveau suivant : </b> {{batimentJoueurPossede['apportOreHeure']}}<br>
    </ng-template>
    <ng-template [ngIf]="(idTypeBatiment==1)||(idTypeBatiment==6)">
      <b>Apport <b>Nourriture</b> niveau suivant : </b> {{batimentJoueurPossede['apportNourritureHeure']}}<br>
    </ng-template>
    <button class="btn btn-info mt-3 mr-2" (click)="ameliorer()">Améliorer</button>
    <button routerLink="../../../campement" class="btn btn-danger mt-3">Retour</button>
  </p>
  <div class="alert alert-danger divCenter mt-3" style="text-align: center;" role="danger" *ngIf="messageErreur">
    <b>{{messageErreur}}</b>
  </div>
  <div class="alert alert-success divCenter mt-3" role="success" *ngIf="messageValidation">
    <b>{{messageValidation}}</b>
  </div>
</div>