<div class="text-center py-3">
    <img src="{{batiment['icone']}}" alt=""
         style="width: 20%;" />
  </div>
  <div>
    <p class="lead card-header text-center py-3 mt-3"
       style="border: 1px solid #ced4da;background-color: #e3f2fd; border-radius:7px;">

      <b>Libelle : </b> {{batiment['libelle']}} <br>
      <b>Descriptif : </b> {{batiment['descriptif']}} <br>
      <b>Ouvrier necessaire pour la Construction : </b> {{batiment['ouvrierNecessaireConstruction']}}<br>
      <b>Temps de Construction : </b> {{batiment['tempsDeConstruction']}}<br>
      <b>Cout Pierre Construction : </b> {{batiment['coutPierreConstruction']}}<br>
      <b>Cout Bois Construction : </b> {{batiment['coutBoisConstruction']}}<br>
      <b>Cout Or Construction : </b> {{batiment['coutOrConstruction']}}<br>
      <b>Cout Nourriture Construction : </b> {{batiment['coutNourritureConstruction']}}<br>
      <b>Niveau HDV Necessaire pour la Construction : </b> {{batiment['niveauHotelDeVilleNecessaireConstruction']}}<br>
      <button routerLink="../../modifierCollaborateur/{{batiment['libelle']}}" class="btn btn-success mt-3 mr-2" (click)="construire()">Construire</button>
      <button routerLink="../../modifierCollaborateur/{{batiment['libelle']}}" class="btn btn-info mt-3 mr-2">Améliorer</button>
      <button routerLink="../../../campement" class="btn btn-danger mt-3">Retour</button>
    </p>
  </div>
