<div class="detailBatiment" *ngIf="batiment">
  <!-- Affichage mode construction -->
  <div *ngIf="modeConstructionAmelioration=='construction'">
    <div class="container">
      <div class="card" id="section_batiment">
        <!-- ICONE -->
        <img src="{{batiment['icone']}}" alt="Person" class="card__image">
        <p class="card__name"><b>{{batiment['libelle']}}</b></p>

        <!-- NIVEAU (Si possède) -->
        <div *ngIf="modeConstructionAmelioration=='amelioration'" class="text-center">
          <h4>Niveau <b>{{batimentJoueurPossede['niveau']}}</b></h4>
        </div>

        <!-- DESCRIPTION -->
        <p class="card__description">
          {{batiment['descriptif']}}
        </p>

        <!-- GAIN EXPERIENCE -->
        <small>Expérience +<b>{{experience | number : '.0' }}</b></small>

        <!-- SI BATIMENT PERMET LE STOCKAGE -->
        <ng-template [ngIf]="(idTypeBatiment==7)||(idTypeBatiment==8)||(idTypeBatiment==9)||(idTypeBatiment==10)">
          <div class="row">
            <div class="col-sm-12">
              <p class="card__categorie">
                Stockage
              </p>
            </div>
          </div>
        </ng-template>

        <!-- PIERRE -->
        <ng-template [ngIf]="(idTypeBatiment==7)">
          <p class="card__stockage__ressource">
            <b>Augmentation limite</b> :
            <span ngbTooltip="+ {{batiment['quantiteeStockagePierre'] | number}}">
              <b>
                + {{batiment['quantiteeStockagePierre'] | thousandSuff:2}}
              </b>
            </span>
          </p>
        </ng-template>
        <!-- BOIS -->
        <ng-template [ngIf]="(idTypeBatiment==8)">
          <p class="card__stockage__ressource">
            <b>Augmentation limite</b> :
            <span ngbTooltip="+ {{batiment['quantiteeStockageBois'] | number}}">
              <b>
                + {{batiment['quantiteeStockageBois'] | thousandSuff:2}}
              </b>
            </span>
          </p>
        </ng-template>
        <!-- OR -->
        <ng-template [ngIf]="(idTypeBatiment==9)">
          <p class="card__stockage__ressource">
            <b>Augmentation limite</b> :
            <span ngbTooltip="+ {{batiment['quantiteeStockageOre'] | number}}">
              <b>
                + {{batiment['quantiteeStockageOre'] | thousandSuff:2}}
              </b>
            </span>
          </p>
        </ng-template>
        <!-- NOURRITURE -->
        <ng-template [ngIf]="(idTypeBatiment==10)">
          <p class="card__stockage__ressource">
            <b>Augmentation limite</b> :
            <span ngbTooltip="+ {{batiment['quantiteeStockageNourriture'] | number}}">
              <b>
                + {{batiment['quantiteeStockageNourriture'] | thousandSuff:2}}
              </b>
            </span>
          </p>
        </ng-template>

        <!-- SI BATIMENT RAPPORTE DE LA RESSOURCE -->
        <ng-template
          [ngIf]="(idTypeBatiment==1)||(idTypeBatiment==3)||(idTypeBatiment==4)||(idTypeBatiment==5)||(idTypeBatiment==6)">
          <div class="row">
            <div class="col-sm-12">
              <p class="card__categorie">
                Apport
              </p>
            </div>
          </div>
        </ng-template>
        <!-- APPORT DE RESSOURCES  -->
        <ng-template [ngIf]="(idTypeBatiment==1)">
          <p class="card__apport__ressource">
            <b>Tout type ressource</b> /heure :
            <span ngbTooltip="{{batiment['apportPierreHeure'] | number}}">
              <b>
                {{batiment['apportPierreHeure'] | thousandSuff:2}}
              </b>
            </span><br>
          </p>
        </ng-template>
        <!-- PIERRE -->
        <ng-template [ngIf]="(idTypeBatiment==3)">
          <p class="card__apport__ressource">
            <b>Pierre</b> /heure :
            <span ngbTooltip="{{batiment['apportPierreHeure'] | number}}">
              <b>
                {{batiment['apportPierreHeure'] | thousandSuff:2}}
              </b>
            </span><br>
          </p>
        </ng-template>

        <!-- BOIS -->
        <ng-template [ngIf]="(idTypeBatiment==4)">
          <p class="card__apport__ressource">
            <b>Bois</b> /heure :
            <span ngbTooltip="{{batiment['apportBoisHeure'] | number}}">
              <b>
                {{batiment['apportBoisHeure'] | thousandSuff:2}}
              </b>
            </span><br>
          </p>
        </ng-template>

        <!-- OR -->
        <ng-template [ngIf]="(idTypeBatiment==5)">
          <p class="card__apport__ressource">
            <b>Or</b> /heure :
            <span ngbTooltip="{{batiment['apportOreHeure'] | number}}">
              <b>
                {{batiment['apportOreHeure'] | thousandSuff:2}}
              </b>
            </span><br>
          </p>
        </ng-template>

        <!-- NOURRITURE -->
        <ng-template [ngIf]="(idTypeBatiment==6)">
          <p class="card__apport__ressource">
            <b>Nourriture</b> /heure :
            <span ngbTooltip="{{batiment['apportNourritureHeure'] | number}}">
              <b>
                {{batiment['apportNourritureHeure'] | thousandSuff:2}}
              </b>
            </span><br>
          </p>
        </ng-template>


        <div class="row">
          <div class="col-sm-12">
            <p class="card__categorie">
              Coût
            </p>
          </div>
        </div>
        <span id="section_cout_construction">
          <div class="row">
            <div class="col-sm-6">
              <p class="card__cout__ressource">
                Pierre :
                <span [ngStyle]="{color:getColorRessourceManquantePierreBatiment()}"
                  ngbTooltip="{{batiment['coutPierreConstruction'] | number}}">
                  <b>{{batiment['coutPierreConstruction'] | thousandSuff:2}}</b>
                </span>
              </p>
            </div>
            <div class="col-sm-6">
              <p class="card__cout__ressource">
                Bois :
                <span [ngStyle]="{color:getColorRessourceManquanteBoisBatiment()}"
                  ngbTooltip="{{batiment['coutBoisConstruction'] | number}}">
                  <b>{{batiment['coutBoisConstruction'] | thousandSuff:2}}</b>
                </span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p class="card__cout__ressource">
                Or :
                <span [ngStyle]="{color:getColorRessourceManquanteOrBatiment()}"
                  ngbTooltip="{{batiment['coutOrConstruction'] | number}}">
                  <b>{{batiment['coutOrConstruction'] | thousandSuff:2}}</b>
                </span>
              </p>
            </div>
            <div class="col-sm-6">
              <p class="card__cout__ressource">
                Nourriture :
                <span [ngStyle]="{color:getColorRessourceManquanteNourritureBatiment()}"
                  ngbTooltip="{{batiment['coutNourritureConstruction'] | number}}">
                  <b>{{batiment['coutNourritureConstruction'] | thousandSuff:2}}</b>
                </span>
              </p>
            </div>
          </div>


          <!-- TEMPS DE CONSTRUCTION -->
          <p class="card__temps__travail center">
            <b>Temps de construction : </b>
            <b>{{batiment['tempsDeConstruction'] | minuteSecondePipe: 's':'hhmmss'}}</b>
          </p>
        </span>

        <!-- BOUTONS -->
        <div class="row">

          <div class="col-sm-6">
            <!-- NIVEAU INSUFFISANT -->
            <div
              *ngIf="batiment['niveauHotelDeVilleNecessaireConstruction']>niveauHdvJoueur; else constructionPossible;">
              <a routerLink="/campement">
                <button class="btn draw-border-error">
                  HDV niveau {{batiment['niveauHotelDeVilleNecessaireConstruction']}} necessaire
                </button>
              </a>
            </div>
            <!-- OK : CONSTRUIRE -->
            <ng-template #constructionPossible id="section_construire">
              <button class="btn draw-border" (click)="construire()">Construire</button>
            </ng-template>
          </div>

          <!-- RETOUR -->
          <div class="col-sm-6">
            <a routerLink="/campement">
              <button class="btn draw-border-error">Retour</button>
            </a>
          </div>
        </div>

        <!-- MESSAGES D'INFORMATION -->
        <!-- ERREUR-->
        <div class="alert alert-danger divCenter mt-3" style="text-align: center;" role="danger" *ngIf="messageErreur">
          <b>{{messageErreur}}</b>
        </div>
        <!-- OK-->
        <div class="alert alert-success divCenter mt-3" role="success" *ngIf="messageValidation">
          <b>{{messageValidation}}</b>
        </div>
      </div>
    </div>
  </div>


  <!-- Affichage mode amélioration -->

  <div *ngIf="modeConstructionAmelioration=='amelioration'">
    <div class="container">
      <div class="card">
        <!-- ICONE -->
        <img src="{{batiment['icone']}}" alt="Person" class="card__image">
        <p class="card__name"><b>{{batiment['libelle']}}</b></p>


        <!-- NIVEAU (Si possède) -->
        <p class="card__niveau">
          <input disabled type="text" class="niveau" value="Niveau : {{batimentJoueurPossede['niveau']}}" />
        </p>

        <!-- DESCRIPTION -->
        <p class="card__description">
          {{batiment['descriptif']}}
        </p>



        <!-- Affichage timer si une amélioration est en cours -->
        <div *ngIf="flagEnCoursDeTravail; else pasDeTravailEnCours;">

          <div *ngIf="secondesRestantesAmelioration > 1; else travailTermine;">


            <!-- MESSAGE PRODUCTION VILLAGEOIS INTERROMPU -->
            <ng-template [ngIf]="(idTypeBatiment==1)">
              <p class="card__production_interrompu">
                La production de villageois n'est pas possible durant l'amélioration.
              </p>
            </ng-template>

            <!-- MESSAGE PRODUCTION RESSOURCES INTERROMPU -->
            <ng-template [ngIf]="(idTypeBatiment==3) ||(idTypeBatiment==4) ||(idTypeBatiment==5) ||(idTypeBatiment==6)">
              <p class="card__production_interrompu">
                <b style="color:red;">Le bâtiment ne produit pas de ressources durant l'amélioration.</b>
              </p>
            </ng-template>

            <!-- MESSAGE PRODUCTION UNITEES DE COMBAT INTERROMPU -->
            <ng-template
              [ngIf]="(idTypeBatiment==11)||(idTypeBatiment==12) ||(idTypeBatiment==13) ||(idTypeBatiment==14)">
              <p class="card__production_interrompu">
                <b style="color:red;">La production d'unitées de combat n'est pas possible durant
                  l'amélioration.</b>
              </p>
            </ng-template>


            <div class="mt-3" id="section_temps_restant">
              <hr class="style-seven">
              <p class="card__progress_bar_text">Temps restant : {{result}}</p>

              <div class="progress mb-3 center" style="width: 80%;">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                  [ngStyle]="{width:getTempsRestant()}"></div>
              </div>
            </div>

            <!-- ACCELERATION GEMMES -->
            <div class="center">
              <button class="btn draw-border" (click)="acceleration()" id="section_accelerer_construction">Accélérer
                <br>({{montantGemmeAcceleration}}
                Gemmes)</button>
            </div>
            <!-- RETOUR -->
            <div class="center">
              <a routerLink="/campement">
                <button class="btn draw-border-error">Retour</button>
              </a>
            </div>

          </div>


          <ng-template #travailTermine>
            <div>
              <p class="card__msg">Travail terminé. Redirection ...</p>
            </div>
          </ng-template>
        </div>

        <ng-template #pasDeTravailEnCours>

          <!-- GAIN EXPERIENCE -->
          <small>Expérience +<b>{{experience | number : '.0' }}</b></small>

          <!-- SI BATIMENT PERMET LE STOCKAGE -->
          <ng-template [ngIf]="(idTypeBatiment==7)||(idTypeBatiment==8)||(idTypeBatiment==9)||(idTypeBatiment==10)">
            <div class="row">
              <div class="col-sm-12">
                <p class="card__categorie">
                  Stockage
                </p>
              </div>
            </div>
          </ng-template>

          <!-- PIERRE -->
          <ng-template [ngIf]="(idTypeBatiment==7)">
            <p class="card__stockage__ressource">
              <b>Limite pierre</b> :
              <span ngbTooltip="{{batimentJoueurPossede['quantiteeStockagePierre'] | number}} ->
                {{batimentJoueurPossede['quantiteeStockagePierre']*batiment.multiplicateurApport | number}}">
                <b>
                  {{batimentJoueurPossede['quantiteeStockagePierre'] | thousandSuff:2}} ->
                  {{batimentJoueurPossede['quantiteeStockagePierre']*batiment.multiplicateurApport | thousandSuff:2}}
                </b>
              </span>
            </p>
          </ng-template>
          <!-- BOIS -->
          <ng-template [ngIf]="(idTypeBatiment==8)">
            <p class="card__stockage__ressource">
              <b>Limite bois</b> :
              <span ngbTooltip="{{batimentJoueurPossede['quantiteeStockageBois'] | number}} ->
                {{batimentJoueurPossede['quantiteeStockageBois']*batiment.multiplicateurApport | number}}">
                <b>
                  {{batimentJoueurPossede['quantiteeStockageBois'] | thousandSuff:2}} ->
                  {{batimentJoueurPossede['quantiteeStockageBois']*batiment.multiplicateurApport | thousandSuff:2}}
                </b>
              </span>
            </p>
          </ng-template>
          <!-- OR -->
          <ng-template [ngIf]="(idTypeBatiment==9)">
            <p class="card__stockage__ressource">
              <b>Limite or</b> :
              <span ngbTooltip="{{batimentJoueurPossede['quantiteeStockageOre'] | number}} ->
                {{batimentJoueurPossede['quantiteeStockageOre']*batiment.multiplicateurApport | number}}">
                <b>
                  {{batimentJoueurPossede['quantiteeStockageOre'] | thousandSuff:2}} ->
                  {{batimentJoueurPossede['quantiteeStockageOre']*batiment.multiplicateurApport | thousandSuff:2}}
                </b>
              </span>
            </p>
          </ng-template>
          <!-- NOURRITURE -->
          <ng-template [ngIf]="(idTypeBatiment==10)">
            <p class="card__stockage__ressource">
              <b>Limite nourriture</b> :
              <span ngbTooltip="{{batimentJoueurPossede['quantiteeStockageNourriture'] | number}} ->
                {{batimentJoueurPossede['quantiteeStockageNourriture']*batiment.multiplicateurApport | number}}">
                <b>
                  {{batimentJoueurPossede['quantiteeStockageNourriture'] | thousandSuff:2}} ->
                  {{batimentJoueurPossede['quantiteeStockageNourriture']*batiment.multiplicateurApport |
                  thousandSuff:2}}
                </b>
              </span>
            </p>
          </ng-template>

          <!-- CATEGORIE "AMELIORATION " POUR BÂTIMENTS DIVERS-->
          <ng-template [ngIf]="(idTypeBatiment==18)">
            <div class="row">
              <div class="col-sm-12">
                <p class="card__categorie">
                  Amélioration
                </p>
              </div>
            </div>
          </ng-template>

          <!-- LIMITE EXPEDITIONS  -->
          <ng-template [ngIf]="(idTypeBatiment==18)">
            <p class="card__apport__ressource">
              <b>Limite</b> expéditions simultanées : {{batimentJoueurPossede['niveau']}} ->
              {{batimentJoueurPossede['niveau'] + 1}}
            </p>
          </ng-template>
          <!-- SI BATIMENT RAPPORTE DE LA RESSOURCE -->
          <ng-template
            [ngIf]="(idTypeBatiment==1)||(idTypeBatiment==3)||(idTypeBatiment==4)||(idTypeBatiment==5)||(idTypeBatiment==6)">
            <div class="row">
              <div class="col-sm-12">
                <p class="card__categorie">
                  Apport
                </p>
              </div>
            </div>
          </ng-template>

          <!-- APPORT DE RESSOURCES  -->
          <ng-template [ngIf]="(idTypeBatiment==1)">
            <p class="card__apport__ressource">
              <b>Tout type ressource</b> /heure :
              <span ngbTooltip="{{batimentJoueurPossede['apportPierreHeure'] | number}} ->
                {{batimentJoueurPossede['apportPierreHeure']*batiment.multiplicateurApport | number}}">
                <b>
                  {{batimentJoueurPossede['apportPierreHeure'] | thousandSuff:2}} ->
                  {{batimentJoueurPossede['apportPierreHeure']*batiment.multiplicateurApport | thousandSuff:2}}
                </b>
              </span><br>
            </p>
          </ng-template>
          <!-- PIERRE -->
          <ng-template [ngIf]="(idTypeBatiment==3)">
            <p class="card__apport__ressource">
              <b>Pierre</b> /heure :
              <span ngbTooltip="{{batimentJoueurPossede['apportPierreHeure'] | number}} ->
                {{batimentJoueurPossede['apportPierreHeure']*batiment.multiplicateurApport | number}}">
                <b>
                  {{batimentJoueurPossede['apportPierreHeure'] | thousandSuff:2}} ->
                  {{batimentJoueurPossede['apportPierreHeure']*batiment.multiplicateurApport | thousandSuff:2}}
                </b>
              </span>

            </p>
          </ng-template>

          <!-- BOIS -->
          <ng-template [ngIf]="(idTypeBatiment==4)">
            <p class="card__apport__ressource">
              <b>Bois</b> /heure :
              <span ngbTooltip="{{batimentJoueurPossede['apportBoisHeure'] | number}} ->
                {{batimentJoueurPossede['apportBoisHeure']*batiment.multiplicateurApport | number}}">
                <b>
                  {{batimentJoueurPossede['apportBoisHeure'] | thousandSuff:2}} ->
                  {{batimentJoueurPossede['apportBoisHeure']*batiment.multiplicateurApport | thousandSuff:2}}
                </b>
              </span>
            </p>
          </ng-template>

          <!-- OR -->
          <ng-template [ngIf]="(idTypeBatiment==5)">
            <p class="card__apport__ressource">
              <b>Or</b> /heure :
              <span ngbTooltip="{{batimentJoueurPossede['apportOreHeure'] | number}} ->
                {{batimentJoueurPossede['apportOreHeure']*batiment.multiplicateurApport | number}}">
                <b>
                  {{batimentJoueurPossede['apportOreHeure'] | thousandSuff:2}} ->
                  {{batimentJoueurPossede['apportOreHeure']*batiment.multiplicateurApport | thousandSuff:2}}
                </b>
              </span>
            </p>
          </ng-template>

          <!-- NOURRITURE -->
          <ng-template [ngIf]="(idTypeBatiment==6)">
            <p class="card__apport__ressource">
              <b>Nourriture</b> /heure :
              <span ngbTooltip="{{batimentJoueurPossede['apportNourritureHeure'] | number}} ->
                {{batimentJoueurPossede['apportNourritureHeure']*batiment.multiplicateurApport | number}}">
                <b>
                  {{batimentJoueurPossede['apportNourritureHeure'] | thousandSuff:2}} ->
                  {{batimentJoueurPossede['apportNourritureHeure']*batiment.multiplicateurApport | thousandSuff:2}}
                </b>
              </span><br>
            </p>
          </ng-template>

          <!-- COUT -->
          <div class="row">
            <div class="col-sm-12">
              <p class="card__categorie">
                Coût
              </p>
            </div>
          </div>
          <!-- PIERRE -->
          <div class="row">
            <div class="col-sm-6">
              <p class="card__cout__ressource">
                Pierre :
                <span [ngStyle]="{color:getColorRessourceManquantePierreBatimentJoueur()}"
                  ngbTooltip="{{batimentJoueurPossede['coutPierreAmelioration']*batiment.multiplicateurCout | number}}">
                  <b>{{batimentJoueurPossede['coutPierreAmelioration']*batiment.multiplicateurCout |
                    thousandSuff:2}}</b>
                </span>
              </p>
            </div>
            <!-- BOIS -->
            <div class="col-sm-6">
              <p class="card__cout__ressource">
                Bois :
                <span [ngStyle]="{color:getColorRessourceManquanteBoisBatimentJoueur()}"
                  ngbTooltip="{{batimentJoueurPossede['coutBoisAmelioration']*batiment.multiplicateurCout | number}}">
                  <b>{{batimentJoueurPossede['coutBoisAmelioration']*batiment.multiplicateurCout | thousandSuff:2}}</b>
                </span>
              </p>
            </div>
          </div>
          <!-- OR -->
          <div class="row">
            <div class="col-sm-6">
              <p class="card__cout__ressource">
                Or :
                <span [ngStyle]="{color:getColorRessourceManquanteOrBatimentJoueur()}"
                  ngbTooltip="{{batimentJoueurPossede['coutOreAmelioration']*batiment.multiplicateurCout | number}}">
                  <b>{{batimentJoueurPossede['coutOreAmelioration']*batiment.multiplicateurCout | thousandSuff:2}}</b>
                </span>
              </p>
            </div>
            <!-- NOURRITURE -->
            <div class="col-sm-6">
              <p class="card__cout__ressource">
                Nourriture :
                <span [ngStyle]="{color:getColorRessourceManquanteNourritureBatimentJoueur()}"
                  ngbTooltip="{{batimentJoueurPossede['coutNourritureAmelioration']*batiment.multiplicateurCout | number}}">
                  <b>{{batimentJoueurPossede['coutNourritureAmelioration']*batiment.multiplicateurCout |
                    thousandSuff:2}}</b>
                </span>
              </p>
            </div>
          </div>


          <!-- TEMPS DE CONSTRUCTION -->
          <p class="card__temps__travail">
            <b>Temps d'amélioration : </b>
            <b>{{batimentJoueurPossede['tempsAmelioration']*(batiment.multiplicateurTemps) | minuteSecondePipe:
              's':'hhmmss'}} </b>
          </p>

          <!-- BOUTONS -->
          <div class="row">
            <!-- CAS UNITE PROVENANT DE CE BATIMENT EN COURS DE PRODUCTION -->
            <div class="col-sm-6" *ngIf="batimentUniteEnCoursDeProduction; else ameliorationPossible">
              <button class="btn draw-border" (click)="ameliorer()">Unités en cours de production</button>
            </div>
            <!-- OK : AMELIORER -->
            <ng-template #ameliorationPossible>
              <div class="col-sm-6">
                <button class="btn draw-border" (click)="ameliorer()">Ameliorer</button>
              </div>
            </ng-template>

            <!-- RETOUR -->
            <div class="col-sm-6">
              <a routerLink="/campement">
                <button class="btn draw-border-error">Retour</button>
              </a>
            </div>
          </div>

        </ng-template>

        <!-- MESSAGES D'INFORMATION -->
        <!-- ERREUR-->
        <div class="alert alert-danger divCenter mt-3" style="text-align: center;" role="danger" *ngIf="messageErreur">
          <b>{{messageErreur}}</b>
        </div>
        <!-- OK-->
        <div class="alert alert-success divCenter mt-3" role="success" *ngIf="messageValidation">
          <b>{{messageValidation}}</b>
        </div>
      </div>
    </div>
  </div>

</div>