<div class="discussion container">
    <!-- TITRE -->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-titre">Discussion générale</div>
        <div class="divider-custom-line"></div>
    </div>

    <!-- FENETRE DE DISCUSSION -->
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-8 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://images-eu.ssl-images-amazon.com/images/I/41EpGHYVvkL.png"
                                    class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Chat Général</span>
                                <p>{{listeMessages.length}} Messages</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body msg_card_body" (scroll)="scrolled($event)" #scrollframe>
                        <!-- LISTE DE TOUS LES MESSAGES-->
                        <span *ngFor="let message of listeMessages" #item>
                            <!-- PARTIE DE GAUCHE (Joueur connecte) -->
                            <div class="d-flex justify-content-start mb-4"
                                *ngIf="message.appartientAuJoueurConnecte == true; else autreJoueur;">
                                <div class="img_cont_msg">
                                    <img src="{{message.joueur.icone}}" class="rounded-circle user_img_msg">
                                </div>
                                <div class="msg_cotainer">
                                    {{message.contenu}}
                                    <span class="msg_time">{{message.datePublication | date:'dd/MM/yyyy HH:mm:ss'}} --
                                        <b><a routerLink="/detailJoueur/{{message.joueur.id}}"
                                                class="emetteur">{{message.joueur.pseudo}}</a></b></span>
                                </div>
                            </div>
                            <!-- PARTIE DE DROITE (Autres joueurs) -->
                            <ng-template #autreJoueur>
                                <div class="d-flex justify-content-end mb-4">
                                    <div class="msg_cotainer_send">
                                        {{message.contenu}}
                                        <span class="msg_time_send">{{message.datePublication | date:'dd/MM/yyyy
                                            HH:mm:ss'}} --
                                            <b><a routerLink="/detailJoueur/{{message.joueur.id}}"
                                                    class="emetteur">{{message.joueur.pseudo}}</a></b></span>
                                    </div>
                                    <div class="img_cont_msg">
                                        <img src="{{message.joueur.icone}}" class="rounded-circle user_img_msg">
                                    </div>
                                </div>
                            </ng-template>
                        </span>
                    </div>
                    <!-- ENVOI MESSAGE -->
                    <div class="card-footer">
                        <!-- FORMULAIRE -->
                        <form [formGroup]="formAjouterMessage" (ngSubmit)="validerMessage()">
                            <div class="input-group">
                                <textarea name="" class="form-control type_msg" placeholder="Tapez votre message ..."
                                    id="contenu" rows="3" formControlName="contenu"
                                    (keyup.enter)="validerMessage()"></textarea>
                                <button class="btn btn-success mr-2" [disabled]="formAjouterMessage.invalid">
                                    Envoyer
                                </button>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="tempsPresentPage>900" class="alert alert-danger mt-1 center" role="alert">
                        Vous semblez être <b>inactif</b> depuis plus de 15 minutes. L'actualisation des messages est <b>désactivée</b>.<br> Revenez sur la page lorsque vous serez de nouveau actif pour voir les nouveaux messages.
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>