<div class="recherche-guilde container">
    <!-- titre page -->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-titre">RECHERCHER GUILDE</div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row center">
        <div class="col-sm-4">
            <a routerLink="/creerGuilde">
                <button class="btn btn-success">Créer guilde</button>
            </a>
        </div>
        <div class="col-sm-4">
            <a routerLink="/listeGuildes">
                <button class="btn btn-success">Lister guildes</button>
            </a>
        </div>
        <div class="col-sm-4">
            <a routerLink="/rechercheGuilde">
                <button class="btn btn-success">Rechercher guilde</button>
            </a>
        </div>
    </div>
</div>