<!-- MESSAGES HEROKU -->
<div class="avertissementHeroku">
  Un problème de connexion ? Il est possible que la base de données hébergée sur Heroku se soit mise en
  veille du fait de son
  inactivité. Patientez quelques secondes <i class="fa fa-grin-wink"></i>
</div>
<div class="timerHeroku">
  <span *ngIf="!demarrage;else herokuOk">
    {{message}}<br>
    <span *ngIf="secondesRestantes>0">
      Estimation : <b>{{tempsRestant}}</b>
    </span>
  </span>
  <ng-template #herokuOk>
    <span>{{message}} <i class="fa fa-grin-beam"></i></span>
  </ng-template>
</div>

<div class=" wrapper fadeInDown align-items-center">
  <div id="formContent">
    <!-- Logo -->
    <div class="fadeIn first">
      <div class="logo rounded img-fluid"></div>
      <h1 class="text-center">Nelfire's Game</h1>
      <h5 class="text-center">Connexion</h5>
    </div>

    <form>
      <!-- email -->
      <input type="email" name="email" [(ngModel)]="joueur.email" class="fadeIn second" id="exampleInputEmail1" placeholder="Votre email"
        aria-describedby="emailHelp"><br>
      <!-- password -->
      <input type="password" name="pass" [(ngModel)]="joueur.motDePasse" class="fadeIn third" id="exampleInputPassword1" placeholder="Votre mot de passe"
        aria-describedby="passwordHelp"><br>
      <!-- bouton de connexion -->
      <div class="mt-3">
        <span *ngIf="!demarrage;else boutonOk">
          <span [ngbTooltip]="informationAttente">
            <button disabled class="btn btn-primary" style="width: 200px;"><span
                class="spinner-border spinner-border-sm"></span> Patientez un instant</button>
          </span>
        </span>
        <ng-template #boutonOk>
          <button class="btn btn-primary" (click)="connecter()" style="width: 200px;">Se connecter</button>
        </ng-template>
      </div>
      <ng-template #informationAttente>
        <div class="d-flex flex-column">
          <span><b>La soumission du formulaire est désactivée le temps qu'Heroku se démarre.</b></span>
        </div>
      </ng-template>
      <!-- bouton création de compte -->
      <div class="mt-3">
        <a routerLink="/creationCompte" class="fadeIn fourth mb-3">
          <button type="button" class="btn btn-outline-primary" style="width: 200px;">Je me créer un compte</button>
        </a>
      </div>
    </form>

    <!-- Message erreurs -->
    <div id="formFooter">
      <div *ngIf="messageErreur" class="alert alert-danger mt-1" role="alert">
        Vos informations d'authentification sont invalides.
      </div>
      <div class="alert alert-success" role="success" *ngIf="messageValidation">
        <b>{{messageValidation}}</b>
      </div>
    </div>

  </div>
</div>