<div class="accueil container">
	<div class="divider-custom divider-light">
		<div class="divider-custom-line"></div>
		<div class="divider-custom-titre">Nouveautés</div>
		<div class="divider-custom-line"></div>
	</div>

	<div id="texte">
		<p class="lead card-header text-center py-3 mt-3"
			style="background-color: #c2e5ff; border-radius:7px; box-shadow: 0 0 12px #000000; margin: 0 auto; ">
            <br>
			- Temps anciennement affichés en seconde <br>sont affichés au format <b>heure:minute:secondes</b><br><br>
			- Amélioration du centre de récolte <br>La récupération de ressource <b>ne nécessite<br> plus</b> un rechargement de la page <br>pour voir le nouveau solde.<br><br>
			- Il n'est <b>plus possible d'améliorer un bâtiment</b> <br>si des unités provenant de ce même bâtiment sont <b>en cours de production.</b><br><br>
		</p>
		<div id="image1"></div>
		<div id="image2"></div>
	</div>
</div>