<div class="menuAdministration container">
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-titre">Administration</div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row center">
        <div class="col-sm-4">
            <a routerLink="../listeBatiment">
                <button class="btn btn-success">Les bâtiments</button>
            </a>
        </div>
        <div class="col-sm-4">
            <a routerLink="../listeDefense">
                <button class="btn btn-success">Les défenses</button>
            </a>
        </div>
        <div class="col-sm-4">
            <a routerLink="../listeUnitee">
                <button class="btn btn-success">Les unitées</button>
            </a>
        </div>
    </div>
</div>