<div class="menuAdministration">
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-titre">Administration</div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row center">
        <div class="col-sm-6">
            <a routerLink="creationBatiment">
                <button class="btn btn-success">Creation bâtiment</button>
            </a>
        </div>
        <div class="col-sm-6">
            <a routerLink="../creationUnitee">
                <button class="btn btn-success">Creation unitée</button>
            </a>
        </div>
    </div>
</div>