<div class="expeditionJoueur container" *ngIf="listeExpeditionJoueur">
    <div id="erreur">
        <div class="erreur" *ngIf="niveauTableExpedition==0; else possedeTableExpedition;">
            <div class="batimentManquant">
                <h1><span></span></h1>
            </div>
            <a routerLink="/batiment/detail-batiment/18">Vous devez d'abord construire une table d'expédition</a>
        </div>
    </div>
    <ng-template #possedeTableExpedition>
        <div class="row center" *ngIf="listeExpeditionJoueur">

            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-titre">{{intitulePage}}</div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="col-sm-4">
                <button class="btn btn-info m-2" (click)="listerToutesLesExpeditionsJoueur()">Toutes mes
                    expéditions</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-danger m-2" (click)="listerExpeditionJoueurTermineesEchec()">Mes expéditions
                    terminées Echec</button>
            </div>

            <div class="col-sm-4">
                <button class="btn btn-warning m-2" (click)="listerExpeditionJoueurEnCours()">Mes expéditions en
                    cours</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-success m-2" (click)="listerExpeditionJoueurTermineesVictoire()">Mes expéditions
                    terminées Victorieuse</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-success m-2" (click)="listerExpeditionJoueurRecompenseEnAttente()">Mes expédition
                    récompense en attente</button>
            </div>

            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let uneExpeditionJoueur of listeExpeditionJoueur">
                        <div class="card h-100 enCours "
                            *ngIf="uneExpeditionJoueur.etatExpedition == 0; else terminee;">
                            <img class="card-img-top" src="{{uneExpeditionJoueur.expedition.icone}}" alt="">
                            <div class="card-body">
                                <h4 class="card-title">
                                    {{uneExpeditionJoueur.expedition.libelle}}
                                    <!-- <p class="card-text">{{expedition.description}}</p> -->
                                </h4>
                                <hr>
                                <h2>Récompense :</h2>
                                <h5>- Pierre : {{uneExpeditionJoueur.expedition.recompensePierre | thousandSuff:2}}</h5>
                                <h5>- Bois : {{uneExpeditionJoueur.expedition.recompenseBois | thousandSuff:2}}</h5>
                                <h5>- Or : {{uneExpeditionJoueur.expedition.recompenseOr | thousandSuff:2}}</h5>
                                <h5>- Nourriture : {{uneExpeditionJoueur.expedition.recompenseNourriture |
                                    thousandSuff:2}}</h5>
                                <h5>- Gemme : {{uneExpeditionJoueur.expedition.recompenseGemme}}</h5>
                                <hr>
                                <h2>Infos :</h2>
                                <h5>- Vie : {{uneExpeditionJoueur.expedition.vie | thousandSuff:2}}</h5>
                                <h5>- Degats : {{uneExpeditionJoueur.expedition.degats | thousandSuff:2}}</h5>
                                <h5>- Armure : {{uneExpeditionJoueur.expedition.armure | thousandSuff:2}}</h5>
                                <h5>- Durée : {{uneExpeditionJoueur.expedition.dureeExpedition | thousandSuff:2}}
                                    secondes</h5>
                                <hr>
                                <div *ngIf="uneExpeditionJoueur.date">
                                    <h2>Temps restant : {{uneExpeditionJoueur.date}}</h2>
                                </div>

                            </div>
                            <div class="card-footer">
                                Pourcentage réussite : <b>{{uneExpeditionJoueur.pourcentageReussite}} %</b>
                                <!-- Récompense pas encore dispo, expédition pas terminée-->
                                <button class="btn btn-warning" disabled>
                                    <span class="spinner-border spinner-border-sm"></span>
                                    Expédition en cours
                                </button>
                            </div>
                        </div>
                        <ng-template #terminee>
                            <div class="card h-100"
                                [ngStyle]="{'background-color':uneExpeditionJoueur.etatExpedition == 1 ? '#48d40e61' : (uneExpeditionJoueur.etatExpedition  == 2 ? '#48d40e61' : '#ff000061') }">
                                <img class="card-img-top" src="{{uneExpeditionJoueur.expedition.icone}}" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        {{uneExpeditionJoueur.expedition.libelle}}
                                        <!-- <p class="card-text">{{expedition.description}}</p> -->
                                    </h4>
                                    <hr>
                                    <h2>Récompense :</h2>
                                    <h5>- Pierre : {{uneExpeditionJoueur.expedition.recompensePierre | thousandSuff:2}}
                                    </h5>
                                    <h5>- Bois : {{uneExpeditionJoueur.expedition.recompenseBois | thousandSuff:2}}</h5>
                                    <h5>- Or : {{uneExpeditionJoueur.expedition.recompenseOr | thousandSuff:2}}</h5>
                                    <h5>- Nourriture : {{uneExpeditionJoueur.expedition.recompenseNourriture |
                                        thousandSuff:2}}</h5>
                                    <h5>- Gemme : {{uneExpeditionJoueur.expedition.recompenseGemme}}</h5>
                                    <hr>
                                    <h2>Infos :</h2>
                                    <h5>- Vie : {{uneExpeditionJoueur.expedition.vie | thousandSuff:2}}</h5>
                                    <h5>- Degats : {{uneExpeditionJoueur.expedition.degats | thousandSuff:2}}</h5>
                                    <h5>- Armure : {{uneExpeditionJoueur.expedition.armure | thousandSuff:2}}</h5>
                                    <h5>- Durée : {{uneExpeditionJoueur.expedition.dureeExpedition}} secondes</h5>
                                    <hr>
                                    <h2>Expédition terminée</h2>
                                </div>
                                <div class="card-footer">
                                    Pourcentage réussite : <b>{{uneExpeditionJoueur.pourcentageReussite}} %</b>
                                    <!-- Récompense pas encore dispo, expédition pas terminée-->
                                    <!-- Expédition terminée -->

                                    <!-- Récompense pas encore récupérée, bouton adéquat -->
                                    <div *ngIf="uneExpeditionJoueur.etatExpedition == 1">
                                        <button class="btn btn-success" [disabled]="clickRecuperer"
                                            (click)="recupererRecompense(uneExpeditionJoueur.id)">
                                            Récupérer récompense
                                        </button>
                                    </div>
                                    <div *ngIf="uneExpeditionJoueur.etatExpedition == 2">
                                        <button class="btn btn-success" disabled>
                                            Récompensé déjà récupérée
                                        </button>
                                    </div>
                                    <!-- Récompense déjà récupérée, bouton adéquat -->
                                    <div *ngIf="uneExpeditionJoueur.etatExpedition == 3">
                                        <button class="btn btn-danger" disabled>
                                            Expédition échouée
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

        </div>
    </ng-template>
</div>