<div class="liste-guildes">
    <!-- titre page -->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-titre">LISTE GUILDES</div>
        <div class="divider-custom-line"></div>
    </div>
    <a routerLink="/creerGuilde">
        <button class="btn btn-success">Créer guilde</button>
    </a>
    <a routerLink="/listeGuildes">
        <button class="btn btn-success">Lister guildes</button>
    </a>
    <a routerLink="/rechercheGuilde">
        <button class="btn btn-success">Rechercher guilde</button>
    </a>

    <ul *ngFor="let guilde of listeGuildes">
        <li> {{guilde.libelle}}</li>
    </ul>
</div>