<div class="accueil container">
	<div class="divider-custom divider-light">
		<div class="divider-custom-line"></div>
		<div class="divider-custom-titre">À venir</div>
		<div class="divider-custom-line"></div>
	</div>

	<div id="texte">
		<p class="lead card-header text-center py-3 mt-3"
			style="background-color: #c2e5ff; border-radius:7px; box-shadow: 0 0 12px #000000; margin: 0 auto; ">
            <br>
            - <b>Discussion privée</b> entre joueurs.<br>
            - Système de <b>Guilde</b>.<br>
            - <b>Attaque</b> entre joueurs.<br>
            - Finir le <b>Tutoriel</b>.<br>
		</p>
		<div id="image"></div>
	</div>


</div>