<div class="accueil container">
	<!-- TITRE -->
	<div class="divider-custom divider-light">
		<div class="divider-custom-line"></div>
		<div class="divider-custom-titre">À venir</div>
		<div class="divider-custom-line"></div>
	</div>

	<!-- LES ANNONCES -->
	<div id="texte">
		<p class="lead card-header text-center py-3 mt-3"
			style="background-color: #c2e5ff; border-radius:7px; box-shadow: 0 0 12px #000000; margin: 0 auto; ">
			<br>
			- <b>Discussion privée</b> entre joueurs.<br>
			- Système de <b>Guilde</b>.<br>
			- <b>Attaque</b> entre joueurs.<br>
			- <b>Rapports</b> de combat.<br>
			- Ajout d'un <b>Inventaire</b>.<br>
			- 100% <b>Responsive</b> téléphones.<br>
		</p>
		<div id="image"></div>
	</div>
</div>