<div class="expedition container">
    <div id="erreur">
        <div class="erreur" *ngIf="niveauTableExpedition==0; else possedeTableExpedition;">
            <div class="batimentManquant">
                <h1><span></span></h1>
            </div>
            <a routerLink="/batiment/detail-batiment/18">Vous devez d'abords construire une table d'expédition</a>
        </div>
    </div>
    <ng-template #possedeTableExpedition>
        <div class="col-lg-12" *ngIf="listeExpedition">


            <!-- titre page -->
            <div class="divider-custom divider-light" *ngIf="tempsRestant">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-titre">Nouvelles expéditions disponnibles dans {{tempsRestant}}</div>
                <div class="divider-custom-line"></div>
            </div>
            <!--             <button class="btn btn-success" (click)="refeshExpedition()">Refresh (Cron à
                minuit)</button> -->


            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4" *ngFor="let expedition of listeExpedition">

                    <div class="card h-100 dejaRealisee" *ngIf="expedition.dejaRealisee; else disponnible;">
                        <img class="card-img-top" src="{{expedition.icone}}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a routerLink="/mesExpeditions">{{expedition.libelle}}</a>
                            </h4>
                            <hr>
                            <h2>Coût :</h2>
                            <h5>- Pierre : <b>{{expedition.coutPierre | thousandSuff:2}}</b></h5>
                            <h5>- Bois : <b>{{expedition.coutBois | thousandSuff:2}}</b></h5>
                            <h5>- Or : <b>{{expedition.coutOr | thousandSuff:2}}</b></h5>
                            <h5>- Nourriture : <b>{{expedition.coutNourriture | thousandSuff:2}}</b></h5>
                            <hr>
                            <h2>Récompense :</h2>
                            <h5>- Pierre : <b>{{expedition.recompensePierre | thousandSuff:2}}</b></h5>
                            <h5>- Bois : <b>{{expedition.recompenseBois | thousandSuff:2}}</b></h5>
                            <h5>- Or : <b>{{expedition.recompenseOr | thousandSuff:2}}</b></h5>
                            <h5>- Nourriture : <b>{{expedition.recompenseNourriture | thousandSuff:2}}</b></h5>
                            <h5>- Gemme : <b>{{expedition.recompenseGemme}}</b></h5>
                            <hr>
                            <h2>Infos :</h2>
                            <h5>- Vie : <b>{{expedition.vie | thousandSuff:2}}</b></h5>
                            <h5>- Degats : <b>{{expedition.degats | thousandSuff:2}}</b></h5>
                            <h5>- Armure : <b>{{expedition.armure | thousandSuff:2}}</b></h5>
                            <h5>- Durée : <b>{{expedition.dureeExpedition | minuteSecondePipe: 's':'hhmmss'}}</b></h5>
                        </div>
                        <div class="card-footer">
                            Difficultée :
                            <small class="text-muted" *ngIf="expedition.difficultee == 5">&#9733; &#9733;
                                &#9733;
                                &#9733; &#9733;</small>
                            <small class="text-muted" *ngIf="expedition.difficultee == 4">&#9733; &#9733;
                                &#9733;
                                &#9733; &#9734;</small>
                            <small class="text-muted" *ngIf="expedition.difficultee == 3">&#9733; &#9733;
                                &#9733;
                                &#9734; &#9734;</small>
                            <small class="text-muted" *ngIf="expedition.difficultee == 2">&#9733; &#9733;
                                &#9734;
                                &#9734; &#9734;</small>
                            <small class="text-muted" *ngIf="expedition.difficultee == 1">&#9733; &#9734;
                                &#9734;
                                &#9734; &#9734;</small>
                            <button class="btn btn-warning">Déjà réalisée</button>
                        </div>
                    </div>
                    <ng-template #disponnible>
                        <div class="card h-100">
                            <img class="card-img-top" src="{{expedition.icone}}" alt="">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a routerLink="detail-expedition/{{expedition.id}}">{{expedition.libelle}}</a>
                                    <!-- <p class="card-text">{{expedition.description}}</p> -->
                                </h4>
                                <hr>
                                <h2>Coût :</h2>
                                <h5>- Pierre : <b [ngStyle]="{'color':getColorRessourceManquantePierre(expedition.id)}">{{expedition.coutPierre | thousandSuff:2}}</b></h5>
                                <h5>- Bois : <b [ngStyle]="{'color':getColorRessourceManquanteBois(expedition.id)}">{{expedition.coutBois | thousandSuff:2}}</b></h5>
                                <h5>- Or : <b [ngStyle]="{'color':getColorRessourceManquanteOr(expedition.id)}">{{expedition.coutOr | thousandSuff:2}}</b></h5>
                                <h5>- Nourriture : <b [ngStyle]="{'color':getColorRessourceManquanteNourriture(expedition.id)}">{{expedition.coutNourriture | thousandSuff:2}}</b></h5>
                                <hr>
                                <h2>Récompense :</h2>
                                <h5>- Pierre : <b>{{expedition.recompensePierre | thousandSuff:2}}</b></h5>
                                <h5>- Bois : <b>{{expedition.recompenseBois | thousandSuff:2}}</b></h5>
                                <h5>- Or : <b>{{expedition.recompenseOr | thousandSuff:2}}</b></h5>
                                <h5>- Nourriture : <b>{{expedition.recompenseNourriture | thousandSuff:2}}</b></h5>
                                <h5>- Gemme : <b>{{expedition.recompenseGemme}}</b></h5>
                                <hr>
                                <h2>Infos :</h2>
                                <h5>- Vie : <b>{{expedition.vie | thousandSuff:2}}</b></h5>
                                <h5>- Degats : <b>{{expedition.degats | thousandSuff:2}}</b></h5>
                                <h5>- Armure : <b>{{expedition.armure | thousandSuff:2}}</b></h5>

                                <h5> - Durée : <b>{{expedition.dureeExpedition | minuteSecondePipe: 's':'hhmmss'}}</b></h5>

                            </div>
                            <div class="card-footer">
                                Difficultée :
                                <small class="text-muted" *ngIf="expedition.difficultee == 5">&#9733; &#9733;
                                    &#9733;
                                    &#9733; &#9733;</small>
                                <small class="text-muted" *ngIf="expedition.difficultee == 4">&#9733; &#9733;
                                    &#9733;
                                    &#9733; &#9734;</small>
                                <small class="text-muted" *ngIf="expedition.difficultee == 3">&#9733; &#9733;
                                    &#9733;
                                    &#9734; &#9734;</small>
                                <small class="text-muted" *ngIf="expedition.difficultee == 2">&#9733; &#9733;
                                    &#9734;
                                    &#9734; &#9734;</small>
                                <small class="text-muted" *ngIf="expedition.difficultee == 1">&#9733; &#9734;
                                    &#9734;
                                    &#9734; &#9734;</small>
                                <div *ngIf="niveauTableExpedition > compteurExpedition; else upgadeBatimentNecessaire">
                                    <a routerLink="detail-expedition/{{expedition.id}}">
                                        <button class="btn btn-info">Détails</button>
                                    </a>
                                </div>
                                <ng-template #upgadeBatimentNecessaire>
                                    <a routerLink="/batiment/detail-batiment/18" ngbTooltip="Limite d'expédition simultanée atteinte. Veuillez améliorer votre chantier pour augmenter la limite d'expéditions simultanées.">
                                        <button class="btn btn-danger">Limite atteinte</button>
                                    </a>
                                </ng-template>

                            </div>
                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </ng-template>
</div>