<div class="expedition container">
    <!-- CAS TABLE D'EXPEDITION MANQUANTE -->
    <div id="erreur">
        <div class="erreur" *ngIf="niveauTableExpedition==0; else possedeTableExpedition;">
            <div class="batimentManquant">
                <h1><span></span></h1>
            </div>
            <a routerLink="/batiment/detail-batiment/18">Vous devez d'abords construire une table d'expédition</a>
        </div>
    </div>
    <ng-template #possedeTableExpedition>
        <div class="col-lg-12" *ngIf="listeExpedition">
            <!-- TITRE -->
            <div class="divider-custom divider-light" *ngIf="tempsRestant">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-titre" id="expedition_prochaines">Nouvelles expéditions disponnibles dans
                    {{tempsRestant}}</div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="row">
                <!-- LISTE DE TOUTES LES EXPEDITIONS -->
                <div class="col-lg-4 col-md-6 mb-4" *ngFor="let expedition of listeExpedition">

                    <div class="card h-100 dejaRealisee" *ngIf="expedition.dejaRealisee; else disponnible;">
                        <img class="card-img-top" src="{{expedition.icone}}" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a routerLink="/mesExpeditions">{{expedition.libelle}}</a>
                            </h4>
                            <!-- RECOMPENSE -->
                            <hr>
                            <h2>Récompense :</h2>
                            <h5>- Pierre : <b>{{expedition.recompensePierre | thousandSuff:2}}</b></h5>
                            <h5>- Bois : <b>{{expedition.recompenseBois | thousandSuff:2}}</b></h5>
                            <h5>- Or : <b>{{expedition.recompenseOr | thousandSuff:2}}</b></h5>
                            <h5>- Nourriture : <b>{{expedition.recompenseNourriture | thousandSuff:2}}</b></h5>
                            <h5>- Gemme : <b>{{expedition.recompenseGemme | thousandSuff:2}}</b></h5>
                            <hr>
                            <!-- INFORMATIONS -->
                            <h2>Infos :</h2>
                            <h5>- Vie : <b>{{expedition.vie | thousandSuff:2}}</b></h5>
                            <h5>- Degats : <b>{{expedition.degats | thousandSuff:2}}</b></h5>
                            <h5>- Armure : <b>{{expedition.armure | thousandSuff:2}}</b></h5>
                            <h5>- Durée : <b>{{expedition.dureeExpedition | minuteSecondePipe: 's':'hhmmss'}}</b></h5>
                        </div>
                        <!-- DIFFICULTE -->
                        <div class="card-footer">
                            Difficultée :
                            <small class="text-muted" *ngIf="expedition.difficultee == 6">&#9733; &#9733;
                                &#9733;
                                &#9733; &#9733; &#9733;</small>
                            <small class="text-muted" *ngIf="expedition.difficultee == 5">&#9733; &#9733;
                                &#9733;
                                &#9733; &#9733; &#9734;</small>
                            <small class="text-muted" *ngIf="expedition.difficultee == 4">&#9733; &#9733;
                                &#9733;
                                &#9733; &#9734; &#9734;</small>
                            <small class="text-muted" *ngIf="expedition.difficultee == 3">&#9733; &#9733;
                                &#9733;
                                &#9734; &#9734; &#9734;</small>
                            <small class="text-muted" *ngIf="expedition.difficultee == 2">&#9733; &#9733;
                                &#9734;
                                &#9734; &#9734; &#9734;</small>
                            <small class="text-muted" *ngIf="expedition.difficultee == 1">&#9733; &#9734;
                                &#9734;
                                &#9734; &#9734;</small>
                            <button class="btn btn-warning">Déjà réalisée</button>
                        </div>
                    </div>
                    <ng-template #disponnible>
                        <div class="card h-100" id="card_expedition">
                            <img class="card-img-top" src="{{expedition.icone}}" alt="">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a routerLink="detail-expedition/{{expedition.id}}">{{expedition.libelle}}</a>
                                </h4>
                                <hr>

                                <!-- RECOMPENSE -->
                                <span id="expedition_recompense">
                                    <h2>Récompense :</h2>
                                    <h5>- Pierre : <b>{{expedition.recompensePierre | thousandSuff:2}}</b></h5>
                                    <h5>- Bois : <b>{{expedition.recompenseBois | thousandSuff:2}}</b></h5>
                                    <h5>- Or : <b>{{expedition.recompenseOr | thousandSuff:2}}</b></h5>
                                    <h5>- Nourriture : <b>{{expedition.recompenseNourriture | thousandSuff:2}}</b></h5>
                                    <h5>- Gemme : <b>{{expedition.recompenseGemme | thousandSuff:2}}</b></h5>
                                </span>
                                <hr>
                                <!-- INFORMATIONS -->
                                <span id="expedition_informations">
                                    <h2>Infos :</h2>
                                    <h5>- Vie : <b>{{expedition.vie | thousandSuff:2}}</b></h5>
                                    <h5>- Degats : <b>{{expedition.degats | thousandSuff:2}}</b></h5>
                                    <h5>- Armure : <b>{{expedition.armure | thousandSuff:2}}</b></h5>
                                    <h5> - Durée : <b>{{expedition.dureeExpedition | minuteSecondePipe:
                                            's':'hhmmss'}}</b></h5>
                                </span>
                            </div>
                            <div class="card-footer">
                                <!-- DIFFICULTE -->
                                <span id="expedition_difficultee">
                                    Difficultée :
                                    <small class="text-muted" *ngIf="expedition.difficultee == 6">&#9733; &#9733;
                                        &#9733;
                                        &#9733; &#9733; &#9733;</small>
                                    <small class="text-muted" *ngIf="expedition.difficultee == 5">&#9733; &#9733;
                                        &#9733;
                                        &#9733; &#9733; &#9734;</small>
                                    <small class="text-muted" *ngIf="expedition.difficultee == 4">&#9733; &#9733;
                                        &#9733;
                                        &#9733; &#9734; &#9734;</small>
                                    <small class="text-muted" *ngIf="expedition.difficultee == 3">&#9733; &#9733;
                                        &#9733;
                                        &#9734; &#9734; &#9734;</small>
                                    <small class="text-muted" *ngIf="expedition.difficultee == 2">&#9733; &#9733;
                                        &#9734;
                                        &#9734; &#9734; &#9734;</small>
                                    <small class="text-muted" *ngIf="expedition.difficultee == 1">&#9733; &#9734;
                                        &#9734;
                                        &#9734; &#9734; &#9734;</small>
                                </span>
                                <!-- BOUTONS -->
                                <div *ngIf="niveauTableExpedition > compteurExpedition; else upgadeBatimentNecessaire">
                                    <a routerLink="detail-expedition/{{expedition.id}}">
                                        <button class="btn btn-info">Détails</button>
                                    </a>
                                </div>
                                <ng-template #upgadeBatimentNecessaire>
                                    <a routerLink="/batiment/detail-batiment/18"
                                        ngbTooltip="Limite d'expédition simultanée atteinte. Veuillez améliorer votre Table d'expédition pour augmenter la limite d'expéditions simultanées.">
                                        <button class="btn btn-danger">Limite atteinte</button>
                                    </a>
                                </ng-template>
                            </div>
                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </ng-template>
</div>