<ng-container *ngIf="joueurConnecte | async as jou">
    <div class="classementJoueur container" *ngIf="listeJoueurs">
        <!-- TITRE -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-titre">Classement joueur<br><h5><i class="fa fa-hand-point-right"></i> {{listeJoueurs.length}} Joueurs <i class="fa fa-hand-point-left"></i></h5></div>
            <div class="divider-custom-line"></div>
            
        </div>
        <div class="table-wrapper">
            <table class="fl-table">
                <!-- ENTETE -->
                <thead>
                    <tr>
                        <th>Icone</th>
                        <th>Pseudo</th>
                        <th>Niveau</th>
                        <th>Temps de jeu</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- LISTE DE TOUS LES JOUEURS -->
                    <tr *ngFor="let joueur of listeJoueurs">
                        <td><img src="{{joueur.icone}}" alt="" style="width: 30px;" /></td>
                        <td>
                            <i class="fa fa-star" aria-hidden="true" ngbTooltip="Généreux donateur ♥" *ngIf="joueur.donateur==true"></i> <a routerLink="/detailJoueur/{{joueur.id}}" id="joueur"> {{joueur.pseudo}}</a>
                            <span *ngIf="jou.roles[0] == roleEnum.RoleAdmin"> - 
                                <a routerLink="/modificationJoueur/{{joueur.id}}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                            </span>
                        </td>
                        <!-- NIVEAU -->
                        <td>{{joueur.niveau}}</td>
                        <!-- TEMPS DE JEU -->
                        <td>{{joueur.tempsDeJeu | minuteSecondePipe: 's':'hhmmss'}}</td>
                    </tr>
                <tbody>
            </table>
        </div>
    </div>
</ng-container>