<div class="card">

    <h2 class="card-header text-center py-3" style="background-color: #e3f2fd;">
        Modifier une absence
    </h2>

    <div class="card-body ">
        <form [formGroup]="formModificationAbsence" (ngSubmit)="validerFormulaire()">
            <div class="form-group row">
                <label for="dateDebut" class="col-sm-2 col-form-label">Date de début</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="dateDebut" formControlName="dateDebut" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="dateFin" class="col-sm-2 col-form-label">Date de fin</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="dateFin" formControlName="dateFin" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="typeAbsence" class="col-sm-2 col-form-label">Type de congés</label>
                <div class="col-sm-10">
                    <select class="custom-select" formControlName="typeAbsence" required>
                        <option selected value="null">- Choix type de congés -</option>
                        <option value="RTT_EMPLOYE">RTT</option>
                        <option value="CONGES_PAYES">Congé payé</option>
                        <option value="CONGES_SANS_SOLDE">Congé sans solde</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="motifAbsence" class="col-sm-2 col-form-label">Motif</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="motifAbsence" rows="3" formControlName="motifAbsence"></textarea>
                </div>
            </div>

            <div class="alert alert-danger" role="danger" *ngIf="messageErreur">
                <b>{{messageErreur | uppercase}}</b>
            </div>
            <div class="alert alert-success" role="success" *ngIf="messageValidation">
                <b>{{messageValidation | uppercase}}</b>
            </div>

            <div class="row justify-content-center">
                <div class="col-auto">
                    <!-- bouton valider formulaire -->
                    <button class="btn btn-success mr-2" [disabled]="formModificationAbsence.invalid">
                        <fa-icon [icon]="faCheck"></fa-icon> Valider
                    </button>

                    <!-- bouton annuler formulaire -->
                    <a routerLink="../../visualisationAbsence"><button class="btn btn-danger">
                            <fa-icon [icon]="faTimes"></fa-icon> Annuler
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>