<div class="detailExpedition" *ngIf="expedition">
    <div class="container">
        <div class="card" id="card_detail_expedition">
            <!-- ICONE -->
            <img src="{{expedition['icone']}}" class="card__image">
            <p class="card__name">{{expedition['libelle']}}</p>

            <!-- DESCRIPTION -->
            <p class="card__description">
                {{expedition['descriptif']}}
            </p>


            <div class="row">
                <div class="col-sm-12">
                    <p class="card__categorie">
                        Récompense
                    </p>
                </div>
            </div>
            <!-- GAIN EXPERIENCE -->
            <span id="detail_expedition_experience">
                <small>Expérience +<b>{{expedition['recompenseExperience']}}</b></small>
            </span>

            <span id="detail_expedition_recompense">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="card__apport__ressource">
                            Pierre : {{expedition['recompensePierre'] | thousandSuff:2}}
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="card__apport__ressource">
                            Bois : {{expedition['recompenseBois'] | thousandSuff:2}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="card__apport__ressource">
                            Or : {{expedition['recompenseOr'] | thousandSuff:2}}
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="card__apport__ressource">
                            Nourriture : {{expedition['recompenseNourriture'] | thousandSuff:2}}
                        </p>
                    </div>
                </div>
                <p class="card__apport__ressource">
                    Gemme : {{expedition['recompenseGemme']}}
                </p>
            </span>
            <!-- 
            <hr class="style-seven">

            //COUT
            <div class="row">
                <div class="col-sm-12">
                    <p class="card__categorie">
                        Coût
                    </p>
                </div>
            </div>
            //PIERRE
            <div class="row">
                <div class="col-sm-6">
                    <p class="card__cout__ressource">
                        Pierre :
                        <span [ngStyle]="{color:getColorRessourceManquantePierre()}">
                            <b>{{expedition['coutPierre'] | thousandSuff:2}}</b>
                        </span>
                    </p>
                </div>
                //BOIS
                <div class="col-sm-6">
                    <p class="card__cout__ressource">
                        Bois :
                        <span [ngStyle]="{color:getColorRessourceManquanteBois()}">
                            <b>{{expedition['coutBois'] | thousandSuff:2}}</b>
                        </span>
                    </p>
                </div>
            </div>
            //OR
            <div class="row">
                <div class="col-sm-6">
                    <p class="card__cout__ressource">
                        Or :
                        <span [ngStyle]="{color:getColorRessourceManquanteOr()}">
                            <b>{{expedition['coutOr'] | thousandSuff:2}}</b>
                        </span>
                    </p>
                </div>
                //NOURRITURE
                <div class="col-sm-6">
                    <p class="card__cout__ressource">
                        Nourriture :
                        <span [ngStyle]="{color:getColorRessourceManquanteNourriture()}">
                            <b>{{expedition['coutNourriture'] | thousandSuff:2}}</b>
                        </span>
                    </p>
                </div>
            </div> -->


            <hr class="style-seven">

            <!-- STATISTIQUES DE L'EXPEDITION -->
            <span class="mb-3" id="detail_expedition_informations">

                <div class="row">
                    <div class="col-sm-12">
                        <p class="card__categorie center">
                            Statistiques de l'expédition
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="card__statistique">
                            Vie : {{vieExpedition | thousandSuff:2}}
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="card__statistique">
                            Attaque : {{degatsExpedition | thousandSuff:2}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="card__statistique">
                            Armure : {{armureExpedition | thousandSuff:2}}
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="card__statistique" id="detail_expedition_pourcentage">
                            Réussite : {{reussitePourcentage | number : '.0-2' }} %
                        </p>
                    </div>
                </div>

                <!-- TEMPS DE L'EXPEDITION -->
                <p class="card__temps__travail center">
                    Temps Expédition : {{expedition['dureeExpedition'] | minuteSecondePipe: 's':'hhmmss'}}
                </p>
            </span>

            <!-- MESSAGES D'INFORMATION -->
            <!-- ERREUR-->
            <div class="alert alert-danger divCenter mt-3" style="text-align: center;" role="danger"
                *ngIf="messageErreur">
                <b>{{messageErreur}}</b>
            </div>
            <!-- OK-->
            <div class="alert alert-success divCenter mt-3" role="success" *ngIf="messageValidation">
                <b>{{messageValidation}}</b>
            </div>
        </div>
    </div>
    <div class="divUnites" id="detail_expedition_unite">

        <!-- DIfférentes unitées du joueur -->
        <form [formGroup]="formEnvoiUniteesEnExpedition" (ngSubmit)="envoiExpedition()">
            <div>
                <ul class="honeycomb" lang="es">
                    <li class="honeycomb-cell" *ngFor="let unitee of armeesDuJoueur">
                        <div>
                            <div>
                                <!-- Quantitée d'unitées -->
                                <div style="text-align:center;">
                                    <input disabled type="text" name="texte" class="quantite"
                                        value="Possède : {{unitee.quantiteePossession}}" />
                                </div>
                                <!-- Icone -->
                                <img class="honeycomb-cell__image" src="{{unitee.unitee.icone}}">
                                <!-- Libelle -->
                                <div class="honeycomb-cell__title">{{unitee.unitee.libelle}}</div>
                                <br>
                            </div>
                            <!-- Selection du nombre d'unitées à envoyer -->
                            <div style="text-align:center;">
                                <input type="number" name="unitee{{unitee.unitee.id}}" value=""
                                    formControlName="unitee{{unitee.unitee.id}}"
                                    (keyup)="calculVieRestanteExpedition(unitee.unitee.id)">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div *ngIf="niveauTableExpedition > compteurExpeditionJoueurEnCours; else upgadeBatimentNecessaire">
                <div class="divCenter">
                    <button class="btn draw-border"
                        [disabled]="formEnvoiUniteesEnExpedition.invalid ||clicked" id="detail_expedition_envoi">{{messageBoutonEnvoiEnExpedition}}</button>
                    <a routerLink="/expedition">
                        <button class="btn draw-border-error">Retour</button>
                    </a>
                </div>

            </div>
            <ng-template #upgadeBatimentNecessaire>
                <div class="divCenter">
                    <a routerLink="/batiment/detail-batiment/18"
                        ngbTooltip="Limite d'expédition simultanée atteinte. Veuillez améliorer votre chantier pour augmenter la limite d'expéditions simultanées.">
                        <button class="btn draw-border-error">Limite atteinte</button>
                    </a>
                </div>
            </ng-template>
        </form>

    </div>
</div>