.boutique {
    margin-top: 10%;
}

.pierre {
    background-color: rgba(138, 138, 138, 0.65);
}
.bois {
    background-color: #6e3300bd;
}
.or {
    background-color: #dfaf2cb4;
}
.nourriture {
    background-color: rgba(194, 13, 13, 0.65);
}