<div class="boutique">
    <div class="row">
        <div class="col-lg-12">
            <div class="row justify-content-center">
                <div class="col-auto mb-4"
                    style="border: 1px solid #ced4da;background-color: #e3f2fd; border-radius:7px; ">
                    <h2>Acheter des ressources</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 pierre">
                        <div class="card-body">
                            <h2 class="card-title">
                                Pierre
                            </h2>
                            <h5>Remplir 10% des réserves</h5>
                            <hr>
                            <h4>Coût : XXX Gemmes</h4>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="achat10PourcentPierre()">Acheter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 pierre">
                        <div class="card-body">
                            <h2 class="card-title">
                                Pierre
                            </h2>
                            <h5>Remplir 50% des réserves</h5>
                            <hr>
                            <h4>Coût : XXX Gemmes</h4>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="achat50PourcentPierre()">Acheter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 pierre">
                        <div class="card-body">
                            <h2 class="card-title">
                                Pierre
                            </h2>
                            <h5>Remplir 100% des réserves</h5>
                            <hr>
                            <h4>Coût : XXX Gemmes</h4>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="achat100PourcentPierre()">Acheter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 bois">
                        <div class="card-body">
                            <h2 class="card-title">
                                Bois
                            </h2>
                            <h5>Remplir 10% des réserves</h5>
                            <hr>
                            <h4>Coût : XXX Gemmes</h4>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="achat10PourcentBois()">Acheter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 bois">
                        <div class="card-body">
                            <h2 class="card-title">
                                Bois
                            </h2>
                            <h5>Remplir 50% des réserves</h5>
                            <hr>
                            <h4>Coût : XXX Gemmes</h4>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="achat50PourcentBois()">Acheter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 bois">
                        <div class="card-body">
                            <h2 class="card-title">
                                Bois
                            </h2>
                            <h5>Remplir 100% des réserves</h5>
                            <hr>
                            <h4>Coût : XXX Gemmes</h4>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="achat100PourcentBois()">Acheter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 or">
                        <div class="card-body">
                            <h2 class="card-title">
                                Or
                            </h2>
                            <h5>Remplir 10% des réserves</h5>
                            <hr>
                            <h4>Coût : XXX Gemmes</h4>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="achat10PourcentOr()">Acheter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 or">
                        <div class="card-body">
                            <h2 class="card-title">
                                Or
                            </h2>
                            <h5>Remplir 50% des réserves</h5>
                            <hr>
                            <h4>Coût : XXX Gemmes</h4>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="achat50PourcentOr()">Acheter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 or">
                        <div class="card-body">
                            <h2 class="card-title">
                                Or
                            </h2>
                            <h5>Remplir 100% des réserves</h5>
                            <hr>
                            <h4>Coût : XXX Gemmes</h4>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="achat100PourcentOr()">Acheter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 nourriture">
                        <div class="card-body">
                            <h2 class="card-title">
                                Nourriutre
                            </h2>
                            <h5>Remplir 10% des réserves</h5>
                            <hr>
                            <h4>Coût : XXX Gemmes</h4>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="achat10PourcentNourriture()">Acheter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 nourriture">
                        <div class="card-body">
                            <h2 class="card-title">
                                Nourriture
                            </h2>
                            <h5>Remplir 50% des réserves</h5>
                            <hr>
                            <h4>Coût : XXX Gemmes</h4>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="achat50PourcentNourriture()">Acheter</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 nourriture">
                        <div class="card-body">
                            <h2 class="card-title">
                                Nourriture
                            </h2>
                            <h5>Remplir 100% des réserves</h5>
                            <hr>
                            <h4>Coût : XXX Gemmes</h4>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" (click)="achat100PourcentNourriture()">Acheter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>