<div class="modificationUnitee">
    <div class="container">
        <div class="card">
            <form [formGroup]="formModificationJoueur" (ngSubmit)="validerFormulaire()">

                <img src="{{joueur.icone}}" alt="Person" class="card__image">
                <p class="card__name">{{joueur.pseudo}}</p>
                <label for="icone" class="col-form-label">Photo de profil</label><br>
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control" id="icone" formControlName="icone" required>
                    </div>
                </div>
<!--                 <label for="email" class="col-form-label">Email</label><br>
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control" id="email" formControlName="email" required disabled/>
                    </div>
                </div> -->
                <label for="descriptif" class="col-form-label">Descriptif</label><br>
                <div class="form-group">
                    <div>
                        <textarea cols="40" rows="10" type="text" class="form-control" id="descriptif"
                            formControlName="descriptif" required> </textarea>
                    </div>
                </div>
                <!--             <div class="grid-container">
                <div class="grid-child-posts">
                    Descriptif : {{joueur.descriptif}}
                </div>
                <div class="grid-child-posts">
                    Niveau : {{joueur.niveau}}
                </div>
                <div class="grid-child-posts">
                    Experience : {{joueur.experience}}
                </div>
            </div> -->
                <div class="alert alert-danger divCenter mt-3" style="text-align: center;" role="danger"
                    *ngIf="messageErreur">
                    <b>{{messageErreur}}</b>
                </div>
                <div class="alert alert-success divCenter mt-3" role="success" *ngIf="messageValidation">
                    <b>{{messageValidation}}</b>
                </div>
                <button class="btn draw-border" [disabled]="formModificationJoueur.invalid">Valider</button>

            </form>
        </div>
    </div>
</div>