<div class="modificationCompte" *ngIf="joueur">
    <div class="container">
        <div class="card">
            <!-- FORMULAIRE -->
            <form [formGroup]="formModificationJoueur" (ngSubmit)="validerFormulaire()">
                <!-- ICONE -->
                <img src="{{joueur.icone}}" alt="Person" class="card__image">
                <p class="card__name">{{joueur.pseudo}}</p>
                <label for="icone" class="col-form-label">Photo de profil</label><br>
                <!-- ICONE -->
                <div class="form-group">
                    <div>
                        <input type="text" class="form-control" id="icone" formControlName="icone" required>
                    </div>
                </div>

                <!-- DESCRIPTIF -->
                <label for="descriptif" class="col-form-label">Descriptif</label><br>
                <div class="form-group">
                    <div>
                        <textarea cols="40" rows="10" type="text" class="form-control" id="descriptif"
                            formControlName="descriptif" required> </textarea>
                    </div>
                </div>

                <!-- MESSAGES -->
                <div class="alert alert-danger divCenter mt-3" style="text-align: center;" role="danger"
                    *ngIf="messageErreur">
                    <b>{{messageErreur}}</b>
                </div>
                <div class="alert alert-success divCenter mt-3" role="success" *ngIf="messageValidation">
                    <b>{{messageValidation}}</b>
                </div>

                <!-- BOUTONS -->
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn draw-border" [disabled]="formModificationJoueur.invalid">Valider</button>
                    </div>
                    <div class="col-sm-6">
                        <a routerLink="/detailJoueur/{{joueur.id}}">
                            <button class="btn draw-border-error">Retour</button>
                        </a>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>