<!-- https://codemyui.com/responsive-honeycomb-grid-layout-in-pure-css/ -->
<div class="row justify-content-center">
	<div class="col-auto mb-4" style="border: 1px solid #ced4da;background-color: #e3f2fd; border-radius:7px; ">
		<h2>Bâtiments</h2>
	</div>
</div>
<div>
	<ul class="honeycomb" lang="es">
		<li class="honeycomb-cell" *ngFor="let batiment of lesBatiments">
			<!-- CAS JOUEUR POSSEDE LE BATIMENT -->
			<div *ngIf="batiment.joueurLePossede; else nePossedePas;">
				<a routerLink="../batiment/detail-batiment/{{batiment.idTypeBatiment}}">
					<div class="niveau">
						<u>Niveau {{batiment.niveauBatimentDuJoueur}}</u>
					</div>
					<img class="honeycomb-cell__image" src="{{batiment.icone}}">
					<div class="honeycomb-cell__title">{{batiment.libelle}}</div>
					<br>
					<div *ngIf="batiment.flagEnCoursDeTravail; else boutonLibre;">
						<button class="btn btn-info">
							Amélioration en cours<br>
							<span *ngIf="batiment.date">Restant : {{batiment.date}}</span>
						</button>
					</div>
					<ng-template #boutonLibre>
						<button class="btn btn-info">
							Améliorer
						</button>
					</ng-template>
				</a>
			</div>
			<!-- CAS JOUEUR NE POSSEDE PAS LE BATIMENT -->
			<ng-template #nePossedePas>
				<div>
					<img class="honeycomb-cell__image" src="{{batiment.icone}}">
					<div class="honeycomb-cell__title">{{batiment.libelle}}</div>
					<br>
					<!-- CAS CONSTRUCTION IMPOSSIBLE -->
					<div
						*ngIf="batiment.niveauHotelDeVilleNecessaireConstruction>niveauHdvJoueur;else constructionPossible">
						<button class="btn btn-danger">
							Hdv {{batiment.niveauHotelDeVilleNecessaireConstruction}} necessaire
						</button>
					</div>
					<!-- CAS CONSTRUCTION POSSIBLE -->
					<ng-template #constructionPossible>
						<a routerLink="../batiment/detail-batiment/{{batiment.idTypeBatiment}}">
							<button class="btn btn-success">Construire</button>
						</a>
					</ng-template>
				</div>
			</ng-template>
		</li>
	</ul>
</div>


















<!-- https://codemyui.com/responsive-honeycomb-grid-layout-in-pure-css/ 
Niveau hdv du joueur : {{niveauHdvJoueur}}
<div class="row justify-content-center">
	<div class="col-auto mb-4" style="border: 1px solid #ced4da;background-color: #e3f2fd; border-radius:7px; ">
		<h2>Liste Bâtiments</h2>
	</div>
</div>
<div>
	<ul class="honeycomb" lang="es">
		<li class="honeycomb-cell" *ngFor="let batiment of lesBatiments">
			<img class="honeycomb-cell__image" src="{{batiment.icone}}">
			<div class="honeycomb-cell__title">{{batiment.libelle}}</div>
		</li>

		<li class="honeycomb-cell honeycomb__placeholder"></li>
	</ul>
</div>

-->