<div class="card">
    
    <h2 class="card-header text-center py-3" style="background-color: #e3f2fd;">
        Modifier un jour feri&eacute; / RTT employeur
    </h2>

    <div class="card-body ">
        <form [formGroup]="formModificationJourFerme" (ngSubmit)="validerFormulaire()">
            <div class="form-group row">
                <label for="dateJourFerme" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="dateJourFerme" formControlName="dateJourFerme" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="typeJourFerme" class="col-sm-2 col-form-label">Type de jour</label>
                <div class="col-sm-10">
                    <select class="custom-select" formControlName="typeJourFerme" required>
                        <option selected value="null">- Choix type jour ferm&eacute; -</option>
                        <option value="RTT_EMPLOYEUR">RTT EMPLOYEUR</option>
                        <option value="JOURS_FERIES">JOURS FERIES</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="commentaireJourFerme" class="col-sm-2 col-form-label">Commentaire</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="commentaireJourFerme" rows="3"
                        formControlName="commentaireJourFerme"></textarea>
                </div>
            </div>

            <div class="alert alert-danger" role="danger" *ngIf="messageErreur">
                <b>{{messageErreur}}</b>
            </div>
            <div class="alert alert-success" role="success" *ngIf="messageValidation">
                <b>{{messageValidation}}</b>
            </div>

            <div class="row justify-content-center">
                <div class="col-auto">
                    <!-- bouton valider formulaire -->
                    <button class="btn btn-success mr-2" [disabled]="">
                        <fa-icon [icon]="faCheck"></fa-icon> Valider
                    </button>

                    <!-- bouton annuler formulaire -->
                    <a routerLink="../../listerJourFerme"><button class="btn btn-danger">
                            <fa-icon [icon]="faTimes"></fa-icon> Annuler
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>