.image {
    background-image: url('../../images/accueil.jpg');
    background-repeat: no-repeat;
    width: 1100px;
    height: 430px;
    background-size: contain;
    display:inline-block;
    border-image-outset: 7px 12px 14px 5px;
  }

.accueil{
  margin-top: 6%;
}

b{
  font-weight: bold;
}
.pierre{
  color: grey;
}

.bois{
  color: rgb(104, 59, 0);
}

.or{
  color: rgb(255, 238, 0);
}

.nourriture{
  color: rgb(255, 0, 106);
}

.gemme{
  color: rgb(90, 201, 0);
}