<div class="accueil container">
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-titre">Bienvenue !</div>
        <div class="divider-custom-line"></div>
    </div>

	<div class="text-center py-3">
		<div class="image"></div>
	</div>

	<div>
		<p class="lead card-header text-center py-3 mt-3"
			style="border: 1px solid #ced4da;background-color: #e3f2fd; border-radius:7px;">

			<b>Annonces</b><br>
			Bienvenue.

		</p>
	</div>
</div>