.image {
  background-image: url("../../images/accueil.jpg");
  background-repeat: no-repeat;
  width: 1100px;
  height: 430px;
  background-size: contain;
  display: inline-block;
  border-image-outset: 7px 12px 14px 5px;
}

.imageExeroth {
  background-image: url("../../images/exeroth.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  border-image-outset: 7px 12px 14px 5px;
  margin-right: 0;
  background-position: center right;
  z-index: 999;
}
p {
  z-index: -1;
}

.accueil {
  margin-top: 6%;
}

b {
  font-weight: bold;
}
.pierre {
  color: grey;
}

.bois {
  color: rgb(104, 59, 0);
}

.or {
  color: rgb(255, 238, 0);
}

.nourriture {
  color: rgb(255, 0, 106);
}

.gemme {
  color: rgb(90, 201, 0);
}




div {
  text-align: center;
}


#texte {
  height: 1px;
  position: relative;
}

#image {
  height: 600px;
  width: 355px;
  position: absolute;
  left: 88%;
  top: 5000%;


  background-image: url("../../images/exeroth.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  border-image-outset: 7px 12px 14px 5px;
  background-position: center right;
  z-index: 3;
}
p {
  z-index: 5;
}