.image {
    background-image: url('../../images/accueil.jpg');
    background-repeat: no-repeat;
    width: 1100px;
    height: 430px;
    background-size: contain;
    display:inline-block;
    border-image-outset: 7px 12px 14px 5px;
  }

.accueil{
  margin-top: 10%;
}