<div class="row justify-content-center">
    <div class="col-auto" style="border: 1px solid #ced4da;background-color: #e3f2fd; border-radius:7px; ">
        <h2>Gestion des absences</h2>
    </div>
</div>
<br />
<table class="table table-striped">
    <thead class="bg-secondary">
        <tr>
            <th scope="col" class="border border-dark">Date de début</th>
            <th scope="col" class="border border-dark">Date de fin</th>
            <th scope="col" class="border border-dark">Type</th>
            <th scope="col" class="border border-dark">Statut</th>
            <th scope="col" class="border border-dark text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let absence of listeAbsences">
            <td class="border border-dark">{{absence.dateDebut | date: 'dd/MM/yyyy'}}</td>
            <td class="border border-dark">{{absence.dateFin | date: 'dd/MM/yyyy'}}</td>
            <td *ngIf='absence.type == typeAbsenceEnum.CONGES_PAYES' class="border border-dark">congés payés</td>
            <td *ngIf='absence.type == typeAbsenceEnum.CONGES_SANS_SOLDE' class="border border-dark">congés sans soldes</td>
            <td *ngIf='absence.type == typeAbsenceEnum.RTT_EMPLOYE' class="border border-dark">RTT</td>
            <td class="border border-dark">{{absence.statut}}</td>
            <td class="border border-dark text-center">
                <button *ngIf="absence.statut == statutEnum.INITIALE || absence.statut == statutEnum.REJETEE"
                    class="btn" routerLink="../modificationAbsence/{{absence.id}}">
                    <fa-icon [icon]="faPencil"></fa-icon>
                </button>
                <button *ngIf="absence.statut == statutEnum.INITIALE || absence.statut == statutEnum.REJETEE"
                    class="btn" (click)="open(mymodal, absence.id)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </td>
            <!-- modal choix suppression -->
            <ng-template #mymodal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Suppression d'une absence</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>&Ecirc;tes vous s&ucirc;r de vouloir supprimer : <br></h5>
                    <ul>
                        <li><b>Date de d&eacute;but : </b>{{absence.dateDebut}}</li>
                        <li><b>Date de fin : </b>{{absence.dateFin}}</li>
                        <li><b>Type : </b>{{absence.type | lowercase}}</li>
                        <li><b>Statut : </b>{{absence.statut}}</li>
                        <li><b>Motif : </b>{{absence.motif}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-success" role="success" *ngIf="message">
                        <b>{{message | uppercase}}</b>
                    </div>
                    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Je suis sur
                        !</button>
                </div>
            </ng-template>
        </tr>
    </tbody>
</table>

<div class="row justify-content-center">
    <div class="col-auto">
        <a routerLink="../demandeAbsence">
            <button class="btn btn-success">
                <fa-icon [icon]="faPlus"></fa-icon> Demande d'absence
            </button>
        </a>
    </div>
</div>


<div class="alert alert-info mt-3 col-md-5 col-lg-3 col-auto" role="alert">
  <label><b><u>Solde des compteurs</u> :</b></label>
  <ul *ngFor="let solde of listeSoldes">
      <li *ngIf="solde.type.toString() == soldeEnum.CONGES_PAYES"><b>Congés payés</b> : {{solde.nombreDeJours}} jour(s)</li>
      <li *ngIf="solde.type.toString() == soldeEnum.RTT_EMPLOYE"><b>RTT</b> : {{solde.nombreDeJours}} jour(s)</li>
  </ul>
</div>

<div class="alert alert-danger" role="danger" *ngIf="messageErreur">
    <b>{{messageErreur | uppercase}}</b>
</div>
